.progress {
  clear: both;

  .info {
    padding-bottom: 30px;

    .pull-right {
      float: right;
    }

    .pull-left {
      float: left;
    }
  }

  #bar {
    width:         100%;
    border-bottom: 1px solid #cccccc;

    div {
      position:      relative;
      background:    #E56981;
      height:        3px;
      transition:    0.2s ease-in-out;
      margin-bottom: -2px;
    }

    div::after {
      content:    '';
      position:   absolute;
      right:      -2px;
      top:        -2px;
      height:     7px;
      width:      7px;
      // borrowed from cssdeck.com
      background: radial-gradient(
        ellipse at center,
        rgba(245, 199, 208, 1) 0%,
        rgba(221, 70, 98, 0) 100%);
    }
  }
}

