.slider-container {
  width:            93%;
  margin-left:      16px;
  position:         relative;
  height:           150px;
  background-color: #E7E7E7;

  .wedge {
    position:     absolute;
    z-index:      1;
    margin:       0 auto;
    width:        0;
    height:       0;
    border-style: solid;
    border-width: 0 0 150px 600px;
    border-color: transparent transparent transparent white;
  }

  .overlay {
    position: absolute;
    margin:   0 auto;
    z-index:  0;
    top:      0;
    left:     0;
    width:    50%;
    height:   100%;

    &.red {
      background-image: $redGradient;
    }

    &.green {
      background-image: $greenGradient;
    }
  }
}
