<div class="modal">

  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-icon ion-ios7-arrow-back" ng-click="modal.hide()">
      Back
    </button>

    <h1 class="title">{{nestedSelection.title}}</h1>
  </ion-header-bar>

  <ion-content has-header="true">
    <ul>
      <li ng-repeat="step in nestedSelection.steps track by $index">
        <strong>Step {{ $index + 1 }}</strong>
        <p ng-bind="step.content"></p>
      </li>
    </ul>

    <!-- <pre>{{ nestedSelection | json }}</pre> -->
  </ion-content>
</div>
