<div class="intro" ng-show="!slideShowActivated" ng-cloak>
  <img ng-src="{{data.selectedItem.image}}">

  <section class="duration">
    <span class="ion-ios7-alarm-outline calm"></span>
    <span>{{ data.selectedItem.duration }}</span>
  </section>

  <section class="context">
    <span class="ion-ios7-checkmark-outline balanced"></span>
    <span>{{ data.selectedItem.context }}</span>
  </section>

  <section class="favorite">
   <i ng-model="data.selectedItem.favorite"
     style="font-size: 40px;"
     class="badge"
     ng-class="{ 'ion-ios7-heart': data.selectedItem.favorite, 'ion-ios7-heart-outline': !data.selectedItem.favorite }"
     ng-click="data.selectedItem.favorite = !data.selectedItem.favorite"> </i>
  </section>

  <section class="description">
    <p>{{data.selectedItem.description}}</p>
    <small>{{data.selectedItem.byline}}</small>
  </section>
</div>

<div class="actual" ng-show="slideShowActivated" ng-cloak>
  Step {{ slideIndex + 1 }}
  <ion-slide-box on-slide-changed="slideChange(index)">
    <ion-slide ng-repeat="step in data.selectedItem.steps">
      <p style="margin: 5px;" ng-bind="step.content"></p>
      <span ng-show="step.tip">
        TIP: <small ng-bind="step.tip"></small>
      </span>
    </ion-slide>
  </ion-slide-box>
</div>
