<ion-view title="About">

  <ion-content class="has-header content-background" padding="true">

    <ion-list>
      <div class="header-bar bar-darkblue"></div>

      <a class="item margin-fix" href="#/app/intro">
        About This App
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item margin-fix" href="#/app/pain">
        Understanding Pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item margin-fix" href="#/app/acknowledgements">
        Acknowledgements
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>
    </ion-list>

    <div class="extension extra diagonal"></div>

  </ion-content>

</ion-view>
