<ion-view scroll="false" hide-nav-bar="{{data.hideNavBar}}" ng-cloak ng-controller="IntroCtrl">

  <ion-header-bar class="bar-royal" ng-if="!data.hideNavBar">
    <h1 class="title">About The App</h1>
  </ion-header-bar>

  <ion-content class="content-background intro" padding="true" ng-class="{ 'has-header': !data.hideNavBar }">

    <ion-slide-box>
      <ion-slide>
        <div class="header-bar bar-darkblue"></div>
        <h3>Welcome to Pain Squad+</h3>
        <div class="image-wrapper">
          <img ng-src="./images/intro/intro_glass.png">
        </div>

        <div class="lower-wrapper">
          <p>
            You've been enlisted in an elite group known as Pain Squad+. Your job is to monitor your pain and report clues in the cases.
          </p>

          <button class="button button-full button-positive stripe-pattern" ng-click="next()">
            <span class="button-text first">Get Started</span>
            <span class="icon-right ion-chevron-right pull-right"></span>
          </button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="header-bar bar-darkblue"></div>
        <h3>File pain cases</h3>
        <div class="image-wrapper">
          <img ng-src="./images/intro/intro_folder.png">
        </div>

        <div class="lower-wrapper">
          <p>
          Your phone will alert you in the morning and evening when a pain case is due. You can also file a case any other time you feel pain.
          </p>

          <button class="button button-full button-positive stripe-pattern" ng-click="next()">
            <span class="button-text">Next</span>
            <span class="icon-right ion-chevron-right pull-right"></span>
          </button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="header-bar bar-darkblue"></div>
        <h3>Get Advice</h3>
        <div class="image-wrapper">
          <img ng-src="./images/intro/intro_idea.png">
        </div>

        <div class="lower-wrapper">
          <p>
          After each case has been filed, we will send you advice you can use to manage your pain. Your healthcare team will also be watching your pain and may contact you to help.
          </p>
          <button class="button button-full button-positive stripe-pattern" ng-click="next()">
            <span class="button-text">Next</span>
            <span class="icon-right ion-chevron-right pull-right"></span>
          </button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="header-bar bar-darkblue"></div>
        <h3>Earn Awards</h3>
        <div class="image-wrapper">
          <img ng-src="./images/intro/intro_badge.png">
        </div>

        <div class="lower-wrapper">
          <p>
            If you file enough cases, you will move up in ranking and earn special awards!
          </p>
          <button ng-show="data.showLogin" class="button button-full button-assertive stripe-pattern last" ng-click="login()">
            <span class="button-text">Login</span>
            <span class="icon-right ion-chevron-right pull-right"></span>
          </button>

          <button ng-hide="data.showLogin" class="button button-full button-assertive stripe-pattern last" ng-click="goHome()">
            <span class="button-text">Get Started</span>
            <span class="icon-right ion-chevron-right pull-right"></span>
          </button>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>

</ion-view>