<ion-view title="Welcome">

  <ion-header-bar>
    <div class="buttons">
      <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back">Back</button>
      <h1 class="title">Welcome</h1>
    </div>
  </ion-header-bar>

  <ion-slide-box has-header="true" on-slide-changed="slideChanged(index)">

    <ion-slide>
      <h3>Welcome to Pain Squad</h3>
      <p>
        You've been enlisted in an elite group known as Pain Squad. Your job is to monitor your pain and report clues in the cases.
      </p>

      <button class="button button-balanced" ng-click="next()">Get Started &gt;</button>
    </ion-slide>

    <ion-slide>
      <h3>File pain cases</h3>
      <p>
      Your phone will alert you in the morning and evening when a pain case is due. You can also file a case any other time you feel pain.
      </p>

      <button class="button button-balanced" ng-click="next()">Next &gt;</button>
    </ion-slide>

    <ion-slide>
      <h3>Get Advice</h3>
      <p>
      After each case has been filed, we will send you advice you can use to manage your pain. Your healthcare team will also be watching your pain and may contact you to help.
      </p>
      <button class="button button-balanced" ng-click="next()">Next &gt;</button>
    </ion-slide>

    <ion-slide>
      <h3>Earn Awards</h3>
      <p>
        If you file enough cases, you will move up in ranking and earn special awards!
      </p>
      <a href="#/app/home" class="button button-balanced">Lets Do This &gt;</a>
      <!-- TODO: authentication goes here -->
    </ion-slide>


  </ion-slide-box>

</ion-view>