<ion-view title="Settings">

  <ion-header-bar>
    <div class="buttons">
      <button ng-click="back()" class="button button-icon icon ion-ios7-arrow-back">Back</button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header content-background" padding="true">

    <div class="list">
      <div class="header-bar bar-blue"></div>

      <div class="item item-divider">
        Alert Settings
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          Morning Alert
        </div>
        <select>
          <option>8:00am</option>
          <option>8:15am</option>
          <option selected>8:30am</option>
          <option>8:45am</option>
          <option>9:00am</option>
          <option>9:15am</option>
          <option>9:30am</option>
          <option>9:45am</option>
          <option>10:00am</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Evening Alert
        </div>
        <select>
          <option>6:00pm</option>
          <option>6:15pm</option>
          <option selected>6:30pm</option>
          <option>6:45pm</option>
          <option>7:00pm</option>
          <option>7:15pm</option>
          <option>7:30pm</option>
          <option>7:45pm</option>
          <option>8:00pm</option>
        </select>
      </label>

      <div class="item item-divider">
        Account Settings
      </div>

      <ion-item>
        <button class="button" ng-click="debugNotifications()">Debug Notifications</button>
      </ion-item>

      <ion-item ng-show="isLoggedIn">
        Logged in as: {{ currentUser.username }}
        <button
          class="button button-block button-assertive"
          ng-show="isLoggedIn"
          ng-click="logout()">
            Logout
        </button>
      </ion-item>

      <div class="extension"></div>
    </div>

  </ion-content>

</ion-view>
