<ion-view title="Terms of Service">

  <ion-content class="has-header content-background static" padding="true">

    <div class="header-bar bar-darkblue"></div>
    <div class="terms-container">
      <p>
        Please read the following disclaimer before proceeding with use of the Pain Squad™ App.
      </p>
      <p>
        By using this application, you (both in your own right and on behalf of the user) hereby waive any claims, causes of action and demands whether in tort or contract against the Hospital for Sick Children (including its employees, directors and agents) in any way related to use of the Application and the information derived from it. The user of this mobile application agrees to use it to track your pain, not to diagnose or treat a condition. Any findings from this application should be discussed with a healthcare professional for proper diagnosis and treatment. It should never be a substitute for the skill, knowledge and experience of a qualified healthcare professional dealing with the facts, circumstances and symptoms of a particular case.
      </p>
      <p>
        I agree to the above Terms of Use for the Pain Squad™ mobile application.
      </p>
    </div>

  </ion-content>

</ion-view>
