<ion-view title="Understanding Pain">

  <ion-content class="has-header content-background" padding="true">

    <ion-list>
      <div class="header-bar bar-darkblue"></div>

      <a class="item margin-fix" ui-sref="app.pain_what">
        What is pain?
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item margin-fix" ui-sref="app.pain_types">
        Types of pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item margin-fix" ui-sref="app.pain_reduce">
        Reducing pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item margin-fix" ui-sref="app.pain_plan">
        Your pain management plan
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>
    </ion-list>

    <div class="extension extra grey-background"></div>

  </ion-content>

</ion-view>
