<ion-view title="Psychological">

  <ion-content class="has-header content-background static" padding="true">

    <div class="header-bar bar-darkblue"></div>
    <div class="terms-container">
      <p>
        Your mind is a really powerful tool! You can use it to help change how you understand and feel pain. One way to deal with pain, for example, is through guided imagery and distraction during painful procedures or other times when you’re in pain.  
      </p>
    </div>
  </ion-content>

</ion-view>
