<section ng-controller="BodymapCtrl" ng-cloak class="bodymap">

  <ul>
    <li class="item"
      ng-repeat="choice in question.choices"
      ng-click="openModal(choice)">
        <img ng-src="./images/bodymap/thumbnail/bodymap-{{choice.content | lowercase}}.png" class="thumbnail">
        <img ng-src="./images/bodymap/checked.png" class="checked" ng-show="contentSaved(choice.content)">
        <div class="image-wrapper" ng-show="contentSaved(choice.content)">
        </div>
        <span class="content">{{ choice.content }}</span>
        <span class="icon-right ion-chevron-right"></span>
    </li>
  </ul>

</section>
