<div class="modal" id="fullscreen">

  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">{{ modalSelection.choice.content }}</h1>

    <button
      class="button button-clear button-primary"
      ng-click="discardModalSelections()">
        Cancel
    </button>

    <button
      class="button button-clear button-primary"
      ng-click="saveModalSelections()">
        Save
    </button>
  </ion-header-bar>

  <ion-content padding="true" class="has-header modal-inherit content-background">

    <div class="content-wrapper">
      <img class="content-header" ng-src="images/background/binder-clips.png">
      <div class="content">
        <ng-include class="map" src="renderBodymapPartial()"></ng-include>

        <div class="tip">
          <p><strong>TIP: </strong>Tap on the areas on the {{ modalSelection.choice.content | lowercase }} then click Save.</p>
        </div>

      </div>
    </div>
  </ion-content>

</div>
