<section class="default-slider" ng-controller="SliderCtrl" ng-cloak>

  <form name="currentForm" valid-radio-form class="slider-container">

    <div class="wedge-outer-container">
      <div class="wedge-container">
        <div class="wedge"></div>
        <div class="wedge-overlay red" ng-class="{ 'green': question.identifier == 'pain_control' }"></div>
        <div class="rect" slider-gradient="question.choices[0].value"></div>
      </div>
    </div>

    <div class="range-container">

      <div class="upper">
        <span class="pull-left number">0</span>
        <span class="pull-right number">10</span>
        <div style="clear: both; height: 0;">&nbsp;</div>
      </div>

      <div class="range range-assertive override" ng-class="{ 'range-balanced': question.identifier == 'pain_control' }">
        <span class="left-border"></span>
        <input required
          type="range"
          ng-model="question.choices[0].value" />
        <span class="right-border"></span>
      </div>

      <div class="lower">
        <span class="pull-left text">{{ question.extremes.least }}</span>
        <span class="pull-right text">{{ question.extremes.most }}</span>
      </div>
    </div>

  </form>

</section>
