<ion-side-menus>

  <!-- TODO: disable 'drag-left' gesture for sidemenu -->
  <ion-pane ion-side-menu-content drag-content="false">

    <ion-nav-bar class="bar-light">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">

    <div class="list">
      <ion-item menu-close ui-sref="app.reports">
        <i class="icon ion-stats-bars"></i>
        View &amp; Share Reports
      </ion-item>

      <ion-item menu-close ui-sref="app.settings">
        <i class="icon ion-gear-b"></i>
        Alert Settings
      </ion-item>
    </div>

    <div class="list pull-down">

      <ion-item menu-close ui-sref="app.about">
        About
      </ion-item>

      <ion-item menu-close ui-sref="app.contact">
        Contact &amp; Support
      </ion-item>

      <ion-item menu-close ui-sref="app.terms">
        Terms of Use
      </ion-item>

      <ion-item menu-close ui-sref="app.privacy">
        Privacy
      </ion-item>

    </div>
  </ion-side-menu>
</ion-side-menus>

