<ion-side-menus>

  <ion-pane ion-side-menu-content>

    <ion-nav-bar class="bar-royal nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

  </ion-pane>

  <ion-side-menu side="left">

    <div class="spacer" style="height: 10px;"></div>

    <ion-content class="sidemenu" style="top: 10px;">
      <ion-list>
        <ion-item menu-close ui-sref="app.reports">
          <i class="icon ion-stats-bars"></i>
          View &amp; Share Reports
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.settings">
          <i class="icon ion-gear-b"></i>
          Alert Settings
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <div class="item item-divider diagonal"></div>

        <ion-item menu-close ui-sref="app.login">
          My Account
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.about">
          About
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.contact">
          Contact &amp; Support
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.terms">
          Terms of Use
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.privacy">
          Privacy
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
