<div class="slide" ng-show="slideShowActivated">
  <div class="header">Step {{ slideIndex + 1 }}</div>

  <ion-slide-box on-slide-changed="slideChange(index)">
    <ion-slide ng-repeat="step in selectedItem.steps">

      <img ng-if="step.image_path" ng-src="./images/advice/steps/{{ step.image_path }}.png">
      <p ng-show="step.content" ng-bind="step.content"></p>

      <div class="audio-block" ng-show="step.audio_path">
        <button class="button icon ion-ios7-play button-royal pattern-bg" ng-show="showInit" ng-click="initAudio(step.audio_path)"></button>
        <button class="button icon ion-ios7-pause button-royal pattern-bg" ng-show="mediaPlaying" ng-click="pauseAudio()"></button>
        <button class="button icon ion-ios7-play button-royal pattern-bg"  ng-hide="showInit || mediaPlaying" ng-hide="mediaPlaying" ng-click="resumeAudio()"></button>
      </div>

      <div class="tip" ng-show="step.tip">
        TIP: <small ng-bind="step.tip"></small>
      </div>

    </ion-slide>
  </ion-slide-box>
</div>