<ion-view title="Recommended">

  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="back()">Back</button>
  </ion-header-bar>

  <ion-content padding="true" ng-controller="RecommendationsModalCtrl" class="content-background">

    <ion-list class="recommended">
      <div class="blue-bar"></div>

      <ion-item
        ng-repeat="item in recommendations"
        class="item item-thumbnail-left"
        ng-click="loadAdviceModal(item)"
        ng-class="{ 'first': $first }">

          <img ng-src="./images/advice/thumb/{{ item.image }}.png">
          <h2>{{ item.title }}</h2>

          <div class="duration row">
            <div class="col col-10"><i class="ion-ios7-clock-outline calm"> </i></div>
            <div class="col col-90"><span>{{ item.duration }}</span></div>
          </div>

          <div class="context row">
            <div class="col col-10"><i class="ion-ios7-checkmark-outline balanced"> </i></div>
            <div class="col col-90"><span>{{ item.context }}</span></div>
          </div>


          <div class="badge" ng-class="{ 'favorite': item.favorite }">
            <i ng-model="item.favorite" class="ion-ios7-heart-outline"> </i>
          </div>

      </ion-item>

    </ion-list>

    <div class="extension"></div>

  </ion-content>

</ion-view>
