<h4>Pain Alert</h4>

<p>
This is an automated alert to notify you that user: <strong><%= @user.username %></strong> (<strong><%= @user.email %></strong>) has experienced three consecutive severe pain reports.
</p>

<p>
-Pain Squad
</p>
