<section ng-init="activeTab = 'front'">

  <div class="button-bar">
    <a href
      class="button override grey-background"
      ng-click="activeTab = 'front'"
      ng-class="{ 'active': activeTab === 'front' }">
      <span>Front</span>
    </a>

    <a href
      class="button override grey-background"
      ng-click="activeTab = 'back'"
      ng-class="{ 'active': activeTab === 'back' }">
      <span>Back</span>
    </a>
  </div>

  <div ng-switch="activeTab">
    <div ng-switch-when="front">
      <div class="bodymap-wrapper">
        <section region="front" body-map-selector-switch ng-include="'images/bodymap/bodymap-torsofront.svg'"></section>
        <img class="torso-bg" ng-src="./images/bodymap/backgrounds/bodymap-torso-front-bg.png" />
      </div>
    </div>

    <div ng-switch-when="back">
      <div class="bodymap-wrapper">
        <section region="back" body-map-selector-switch ng-include="'images/bodymap/bodymap-torsoback.svg'"></section>
        <img class="torso-bg" ng-src="./images/bodymap/backgrounds/bodymap-torso-back-bg.png" />
      </div>
    </div>
  </div>

</section>
