<section ng-init="activeTab = 'front'">

  <div class="button-bar">
    <a href
      class="button override"
      ng-click="activeTab = 'front'"
      ng-class="{ 'active': activeTab === 'front' }">
        Front
    </a>

    <a href
      class="button override"
      ng-click="activeTab = 'back'"
      ng-class="{ 'active': activeTab === 'back' }">
        Back
    </a>
  </div>

  <div ng-switch="activeTab">
    <div ng-switch-when="front">
      <section region="front" body-map-selector-switch ng-include="'images/bodymap/bodymap-torsofront.svg'"></section>
    </div>

    <div ng-switch-when="back">
      <section region="back" body-map-selector-switch ng-include="'images/bodymap/bodymap-torsoback.svg'"></section>
    </div>
  </div>

</section>
