<section class="checklist-grid" ng-controller="ChecklistGridCtrl" ng-cloak>

  <form name="currentForm" valid-form>
    <div ng-repeat="choice in question.choices">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox"
            ng-required="atLeastOne()"
            ng-model="choice.selected"/>
        </label>
        <span class="content">{{ choice.content }}</span>

      </li>
      <label ng-show="choice.textfield && choice.selected" class="item item-input">
        <textarea
          ng-model="choice.value"
          placeholder="Please specify"
          rows="5"></textarea>
      </label>
      <hr class="divider">
    </div>
  </form>

</section>
