<div class="modal">

  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">{{ modalSelection.choice.content }}</h1>

    <button
      class="button button-clear button-primary"
      ng-click="discardModalSelections()">
        Cancel
    </button>

    <button
      class="button button-clear button-primary"
      ng-click="saveModalSelections()">
        Save
    </button>
  </ion-header-bar>

  <ion-content padding="true" class="has-header modal-inherit">
    <div class="content">
      <div class="header"></div>
      <ng-include class="map" src="renderBodymapPartial()"></ng-include>

      <div class="tip">
        <p><strong>TIP: </strong>Tap on the areas on the {{ modalSelection.choice.content | lowercase }} then click Save.</p>
      </div>

    </div>
  </ion-content>

</div>
