<section class="default-slider" ng-cloak ng-controller="SliderCtrl">

  <form name="currentForm" valid-radio-form class="slider-container">

    <div class="wedge-container">
      <div class="wedge"></div>
      <div class="overlay red" slider-gradient="question.choices[0].value"></div>
    </div>

    <div class="range-container">
      <span class="pull-left">0</span>
      <span class="pull-right">10</span>

      <div class="range range-assertive">
        <input required
          type="range"
          ng-model="question.choices[0].value">
      </div>

      <span class="pull-left">no pain</span>
      <span class="pull-right">worst possible pain</span>
    </div>

    <!-- sliderValue: {{ question.choices[0].value | sliderFilter }} -->

  </form>

</section>
