// centers elements
.marginalized {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

// // temporarily outline all scopes in red:
// .ng-scope {
//   border: 1px dotted red;
// }

// // outline all bindings in blue:
// .ng-binding {
//   border: 1px dotted blue;
// }
