<ion-view title="Pain Squad">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-information-outline" href="#/app/about"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
<!--
    <ion-list>
      <ion-item ng-repeat="case in cases" href="#/app/cases/{{case.id}}">
        {{case.title}}
      </ion-item>
    </ion-list>
 -->
    <ion-list class="marginalized">
      <a href="#/app/new_case" class="button button-block button-balanced icon">Start Case</a>
      <a href="#/app/achievements" class="button button-block button-stable icon">Achievements</a>
      <a href="#/app/advice" class="button button-block button-stable icon">Get Advice</a>
    </ion-list>

  </ion-content>
</ion-view>