<ion-content has-header="false" scroll="false" ng-controller="MainCtrl">
  <div class="list">
    <a ng-click="goToPage('reports')" class="item item-icon-left" href="">
      <i class="icon ion-stats-bars"></i>
      View &amp; Share Reports
    </a>

    <a ng-click="goToPage('settings')" class="item item-icon-left" href="">
      <i class="icon ion-gear-b"></i>
      Alert Settings
    </a>
  </div>

  <div class="list pull-down">
    <a ng-click="goToPage('home')" class="item item-icon-left" href="">
      <i class="icon ion-home"></i>
      Home
    </a>

    <a ng-click="goToPage('login')" class="item item-icon-left" href="">
      <i class="icon ion-log-in"></i>
      Login
    </a>

    <a ng-click="goToPage('about')" class="item item-icon-left" href="">
      About
    </a>

    <a ng-click="goToPage('contact')" class="item item-icon-left" href="">
      Contact &amp; Support
    </a>

    <a ng-click="goToPage('terms')" class="item item-icon-left" href="">
      Terms of Use
    </a>

    <a ng-click="goToPage('privacy')" class="item item-icon-left" href="">
      Privacy
    </a>
  </div>
</ion-content>
