<ion-view title="Acknowledgements">

  <ion-content class="has-header content-background acknowledgements" padding="true">

    <div class="header-bar bar-darkblue"></div>
    <div class="image-container">
      <img ng-src="./images/static/sickkids.png">
    </div>

    <div class="upper-container grey-background">
      <ul>
        <li>
          <strong>The Hospital for Sick Children (SickKids)</strong>
        </li>

        <li>
          <strong>Version:</strong> v1.0
        </li>

        <li>
          Copyright 2014
        </li>

        <li>
          <strong>Name of partners:</strong> xxx
        </li>
      </ul>
    </div>

    <div class="lower-container">
      <p>
        SickKids, affiliated with the University of Toronto, is Canada’s most research-intensive hospital and the largest centre dedicated to improving children’s health in the country. As innovators in child health, SickKids improves the health of children by integrating care, research and teaching.
      </p>
      <p>
        With a staff that includes professionals from all disciplines of health care and research, SickKids provides the best in complex and specialized care by creating scientific and clinical advancements, sharing knowledge and expertise and championing the development of an accessible, comprehensive and sustainable child health system.
      </p>
      <p>
        We value your feedback.
      </p>
    </div>

  </ion-content>

</ion-view>
