<ion-view title="Get Advice">

  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="back()">Back</button>
  </ion-header-bar>

  <ion-content padding="true" class="advice content-background-no-objects">

    <section class="top">
      <div class="advice-item yellow" ui-sref="app.recommended"
        ng-class="{ 'active': isActiveOne }" ng-init="isActiveOne = false" ng-click="isActiveOne = !isActiveOne">
          <h2>Recommended For You</h2>
          <img class="fav-badge" ng-src="./images/advice/main/rec.png">
          <img class="shadow" ng-src="./images/shadows/home-shadow.png">
      </div>

      <div class="advice-item red" ui-sref="app.favorites"
        ng-class="{ 'active': isActiveTwo }" ng-init="isActiveTwo = false" ng-click="isActiveTwo = !isActiveTwo">
          <h2>Your Favourites</h2>
          <img class="fav-badge" ng-src="./images/advice/main/fav.png">
          <img class="shadow" ng-src="./images/shadows/home-shadow.png">
      </div>
    </section>

    <section class="bottom">

      <ion-list>
        <div class="header-bar bar-blue"></div>

        <div class="item margin-fix" ui-sref="app.prevent_pain">
           Prevent Pain from Procedures
          <span class="icon-right ion-chevron-right pull-right"></span>
        </div>

        <div class="item margin-fix" ui-sref="app.manage_pain">
          Manage your Pain
          <span class="icon-right ion-chevron-right pull-right"></span>
        </div>
      </ion-list>

    </section>

    <div class="extension"></div>

  </ion-content>
</ion-view>
