<ion-view title="Get Advice">

  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="back()">Back</button>
  </ion-header-bar>

  <ion-content padding="true" class="advice content-background">

    <section class="top">

      <div class="item" ui-sref="app.recommended">
        <h2>Recommended For You</h2>
        <i class="ion-ios7-lightbulb-outline"></i>
      </div>

      <div class="item" ui-sref="app.favorites">
        <h2>Your Favourites</h2>
        <i class="ion-heart"></i>
      </div>

    </section>

    <section class="bottom">

      <ion-list>

        <div class="item" ui-sref="app.prevent_pain">
           Prevent Pain from Procedures
          <span class="icon-right ion-chevron-right pull-right"></span>
        </div>

        <div class="item" ui-sref="app.manage_pain">
          Manage your Pain
          <span class="icon-right ion-chevron-right pull-right"></span>
        </div>

        <div class="extension"></div>

      </ion-list>

    </section>

  </ion-content>
</ion-view>
