<ion-view title="Manage Pain">

  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="back()">Back</button>
  </ion-header-bar>

  <ion-content padding="true">
    Pharmacological:
      - take your pain medication regularly
      - take any 'as needed' medication
    <br>
    Psychological
      - relaxation
      - mini-relaxation
      - distraction
      - mental games
      - imagery
    <br>
    Physical
      - belly breathing
      - gentle exercise
      - stretching / yoga
  </ion-content>

</ion-view>
