<div class="modal">

  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-icon ion-ios7-arrow-back" ng-click="modal.hide()">
      Back
    </button>

    <h1 class="title" ng-show="nestedSelection.section">
      {{selectedItem.title | truncate:19 }}
    </h1>
    <h1 class="title" ng-hide="nestedSelection.section">
      {{nestedSelection.title | truncate:19 }}
    </h1>
  </ion-header-bar>

  <ion-content has-header="true" class="content-background nested">

    <div class="container">
      <div class="blue-bar"></div>
      <div class="header" ng-show="nestedSelection.section"><span>{{nestedSelection.title}}</span></div>
      <div class="header" ng-hide="nestedSelection.section"><span>How To Play</span></div>

      <div class="image-block" ng-show="nestedSelection.image">
        <img ng-src="../images/advice/nested/{{ nestedSelection.image }}.png">
      </div>
      <div class="list-wrapper">
        <ol>
          <li ng-repeat="step in nestedSelection.steps track by $index">
            <p ng-bind="step.content"></p>
          </li>
        </ol>
      </div>
    </div>
  </ion-content>
</div>
