<div class="modal">

  <ion-header-bar class="bar bar-header bar-royal">
    <button class="button button-icon ion-ios7-arrow-back"
      ng-click="discardAdvice()">
        Back
    </button>

    <h1 class="title">{{selectedItem.title | truncate: 19 }}</h1>

    <button class="button button-icon ion-ios7-arrow-forward icon-right pull-right"
      ng-click="startSlideshow()"
      ng-show="showStartButton">
        Start
    </button>

    <button class="button button-assertive override done"
      ng-click="adviceCompleted()"
      ng-show="showDidItButton">
        Did it!
    </button>

  </ion-header-bar>

  <ion-content has-header="true" class="content-background">

    <div class="container" ng-class="{ 'show-slides': slideShowActivated }">
      <div class="blue-bar"></div>

      <div ng-hide="slideShowActivated" ng-cloak>
        <img ng-src="{{selectedItem.image}}">

        <div class="detail">
          <section class="duration">
            <span class="ion-ios7-alarm-outline calm"></span>
            <span>{{ selectedItem.duration }}</span>
          </section>

          <section class="context">
            <span class="ion-ios7-checkmark-outline balanced"></span>
            <span>{{ selectedItem.context }}</span>
          </section>

          <div class="badge" ng-class="{ 'favorite': selectedItem.favorite }" ng-click="toggleFavorite(selectedItem)">
            <i ng-model="selectedItem.favorite" class="ion-ios7-heart-outline"> </i>
          </div>
        </div>

        <section class="description">
          <p>{{selectedItem.description}}</p>
          <p class="byline" ng-bind-html="selectedItem.byline"></p>
        </section>
      </div>

      <div ng-switch="modalStyle">
        <div ng-switch-when="slideshow" ng-cloak>

          <div class="slide" ng-show="slideShowActivated">
            <div class="header">Step {{ slideIndex + 1 }}</div>

            <ion-slide-box on-slide-changed="slideChange(index)">
              <ion-slide ng-repeat="step in selectedItem.steps">
                <p ng-bind="step.content"></p>

                <div class="spacer"></div>

                <div class="tip" ng-show="step.tip">
                  TIP: <small ng-bind="step.tip"></small>
                </div>

              </ion-slide>
            </ion-slide-box>

          </div>
        </div>

        <div ng-switch-when="nested">
          <div ng-controller="NestedAdviceCtrl">

            <ion-list>
              <ion-item ng-repeat="item in selectedItem.nested_recommendations"
                ng-click="loadNestedModal(item)" class="margin-fix">
                  {{ item.title }}
                <i class="ion-chevron-right pull-right"></i>
              </ion-item>
            </ion-list>

          </div>
        </div>
      </div>
    </div>

  </ion-content>

</div>
