<div class="modal">

  <ion-header-bar class="bar bar-header bar-royal">
    <button class="button button-icon ion-ios7-arrow-back"
      ng-click="discardAdvice()">
        Back
    </button>

    <h1 class="title">{{selectedItem.title}}</h1>

    <button class="button button-icon ion-ios7-arrow-forward icon-right pull-right"
      ng-click="startSlideshow()"
      ng-show="showStartButton">
        Start
    </button>

    <button class="button button-icon icon-right"
      ng-click="adviceCompleted()"
      ng-show="showDidItButton">
        Did it!
    </button>

  </ion-header-bar>

  <ion-content has-header="true" class="content-background">

    <div ng-show="!slideShowActivated" ng-cloak>
      <img ng-src="{{selectedItem.image}}">

      <section class="duration">
        <span class="ion-ios7-alarm-outline calm"></span>
        <span>{{ selectedItem.duration }}</span>
      </section>

      <section class="context">
        <span class="ion-ios7-checkmark-outline balanced"></span>
        <span>{{ selectedItem.context }}</span>
      </section>

      <section class="favorite">
       <i ng-model="selectedItem.favorite"
         style="font-size: 40px;"
         class="badge"
         ng-class="{ 'ion-ios7-heart': selectedItem.favorite, 'ion-ios7-heart-outline': !selectedItem.favorite }"
         ng-click="toggleFavorite(selectedItem)"> </i>
      </section>

      <section class="description">
        <p>{{selectedItem.description}}</p>
        <small>{{selectedItem.byline}}</small>
      </section>
    </div>

    <div ng-switch="modalStyle">
      <div ng-switch-when="slideshow">
        <section ng-include="'templates/advice/modal.slideshow.html'"></section>
      </div>

      <div ng-switch-when="nested">
        <section ng-include="'templates/advice/modal.nested.html'"></section>
      </div>
    </div>
  </ion-content>
</div>
