<ion-view title="Prevent Pain">

  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="back()">Back</button>
  </ion-header-bar>

  <ion-content padding="true" class="content-background">

    <ion-list class="recommended">
      <div class="header-bar bar-blue"></div>

      <div class="item margin-fix" ui-sref="app.pain_pharmacological">
        Pharmacological pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </div>

      <div class="item margin-fix" ui-sref="app.pain_physical">
        Physical pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </div>

      <div class="item margin-fix" ui-sref="app.pain_psychological">
        Psychological pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </div>

    </ion-list>

    <div class="extension extra"></div>

  </ion-content>

</ion-view>
