<ion-view title="Recommended">

  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="back()">Back</button>
  </ion-header-bar>

  <ion-content padding="true">

    <ion-list class="recommended">

      <ion-item
        ng-repeat="item in data.recommended"
        class="item item-thumbnail-left"
        ng-click="loadAdviceModal(item)">

          <img ng-src="{{ item.image }}" alt="{{ item.title }}">
          <h2>{{ item.title }}</h2>

          <div class="duration">
            <span class="ion-ios7-alarm-outline calm"></span>
            <span>{{ item.duration }}</span>
          </div>

          <div class="context">
            <span class="ion-ios7-checkmark-outline balanced"></span>
            <span>{{ item.context }}</span>
          </div>

          <i ng-model="item.favorite"
             class="badge"
             ng-class="{ 'ion-ios7-heart': item.favorite, 'ion-ios7-heart-outline': !item.favorite }"
             ng-click="item.favorite = !item.favorite"> </i>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
