<div class="modal" id="levelup" scroll="false">

  <ion-content has-header="true" scroll="false">

    <div class="circle-wrapper">
      <div class="circle" ng-click="closeModal()">X</div>
    </div>

    <div class="header pattern-bg">You've Moved Up!</div>

    <img src="./images/achievements/chief.png">

    <p>Looks like it's time to drop the 'Junior' from your rank. A communication just came across from Headquarters, you are now officially a full-fledged Detective in PainSquad</p>
    <!-- <p>{{ msg }}</p> -->

    <button class="button button-block button-assertive">Play Video</button>
  </ion-content>

</div>
