<ion-view hide-back-button="true" class="width-wrap" ng-cloak>

  <ion-header-bar>
    <h1 class="title">Pain Squad</h1>
  </ion-header-bar>

  <ion-content>

    <ion-list>
      <section class="row">
        <div class="col">

          <form ng-submit="login()">
            <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="user.email" />
            </label>

            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password" />
            </label>

            <input type="submit" class="button button-block button-balanced icon" />
          </form>

        </div>
      </section>
    </ion-list>

  </ion-content>

</ion-view>
