<ion-view hide-back-button="true" class="width-wrap" title="Pain Squad" ng-cloak>

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-home" ui-sref="app.home"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <form name="loginForm" ng-submit="login()">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="credentials.email" required />
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="credentials.password" ng-minlength="5" required />
        </label>

        <button
          type="submit"
          class="button button-block button-positive"
          ng-disabled="loginForm.$invalid">
            Submit
        </button>

      </form>
    </div>

    <button class="button button-block button-assertive" ng-click="logout()">Logout</button>

    user: {{ currentUser }}
  </ion-content>

</ion-view>
