<ion-view hide-back-button="true" class="width-wrap" ng-cloak>

  <ion-header-bar>
    <h1 class="title">Pain Squad</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <form name="loginForm" ng-submit="login()">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="credentials.email" required />
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="credentials.password" ng-minlength="5" required />
        </label>

        <button
          type="submit"
          class="button button-block button-positive"
          ng-disabled="loginForm.$invalid">
            Submit
        </button>

      </form>
    </div>

    <button class="button button-block button-assertive" ng-click="logout()">Logout</button>

    user: {{ $rootScope.user | json }}
  </ion-content>

</ion-view>
