<svg class="round-progress" xmlns="http://www.w3.org/2000/svg"
  round-progress=""
  max="100"
  current="50"
  color="#D12D4E"
  bgcolor="#C7DBEA"
  radius="100"
  stroke="20"
  width="240"
  height="240"
  style="overflow: hidden;">
    <circle fill="none" cx="100" cy="100" transform="translate(20, 20)" r="100" stroke="#C7DBEA" stroke-width="20"></circle>
    <path fill="none" stroke="#D12D4E" stroke-width="20" transform="" d="M 120.00008726646257 219.99999999996191 A 100 100 0 0 0 120 20"></path>
</svg>