<div ng-controller="VideoCtrl">

  <!-- plays inline on Cordova -->
  <span ng-if="showInlineVideo">
    <videogular
      vg-width="1"
      vg-height="1"
      vg-autoplay="true"
      vg-complete="videoComplete"
      vg-player-ready="onPlayerReady">
        <video class="videoPlayer" autoplay="autoplay" webkit-playsinline>
          <source ng-src="{{ trustSrc(videoItem.video_path) }}" type="video/mp4">
        </video>
        <vg-overlay-play></vg-overlay-play>
    </videogular>
  </span>

</div>
