<ion-view title="Pain Squad&#43;" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-information" ui-sref="app.about"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header home content-background">

    <div class="rank">
      <span class="pull-right">
        points to promotion {{ userScore.next_level }}
      </span>
      <span class="pull-left">
        total points earned {{ userScore.score }}
      </span>

      <img ng-src="{{rankBadge}}">
    </div>

    <div class="action">
      <button class="button button-assertive override home bottom-border not-assertive" ui-sref="app.new_survey">Start Case</button>
      <button class="button button-positive override home diagonal" ui-sref="app.achievements">Achievements</button>
      <button class="button button-positive override home diagonal" ui-sref="app.advice">Get Advice</button>
    </div>

  </ion-content>
</ion-view>