<div class="modal" id="levelup" scroll="false">

  <ion-content has-header="true" scroll="false">

    <div class="circle-wrapper">
      <div class="circle" ng-click="closeModal()">X</div>
    </div>

    <div class="header grey-background">
      <span class="content">You've Moved Up!</span>
    </div>

    <img class="rank" ng-src="./images/achievements/{{ levelUp.image || 'rookie' }}.png">

    <p>Looks like it's time to drop the "{{levelUp.prev_rank}}" from your rank. A communication just came across from Headquarters, you are now officially a full-fledged {{levelUp.rank}} in PainSquad</p>

    <button class="button button-assertive override bg-pattern red" ng-click="playLevelupVideo()">
      <span class="content">Play Video</span>
      <img class="video" ng-src="./images/buttons/play_video.png">
    </button>

    <div ng-include src="'templates/shared/video.html'"></div>

  </ion-content>

</div>
