<div class="modal modal-video" id="fullscreen" scroll="false">

  <ion-content>
    <videogular
      vg-responsive="true"
      vg-autoplay="true"
      vg-complete="videoComplete"
      vg-player-ready="onPlayerReady">
        <video class="videoPlayer">
          <source ng-src="{{ trustSrc(videoItem.video_path) }}" type="video/mp4">
        </video>
    </videogular>
    <button class="button button-assertive override home" ng-click="closeVideoModal()">Close</button>

  </ion-content>

</div>
