<ion-view title="Head" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear" ng-click="back()">
      Cancel
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear" ng-click="back() && saveSelection('head')">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <body-map svg-path="images/bodymap/bodymap-head.svg" region-type="head" ng-model="tempSelections"></body-map>
    Head Selections: {{tempSelections}}
  </ion-content>
</ion-view>
