<ion-view title="Head" hide-back-button="true">

  <!-- <div ng-include src="'/templates/surveys/question_types/bodymap/header-partial.html'"></div> -->

  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear" ng-click="back() && clearSelection('head')">
      Cancel
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear" ng-click="back() && saveSelection('head', currentSelections)">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <section bodymap-color-selector region-type="head" ng-include="'images/bodymap/bodymap-head.svg'"></section>
  </ion-content>
</ion-view>
