<ion-view title="Legs" hide-back-button="true">

  <!-- <div ng-include src="'/templates/surveys/question_types/bodymap/header.html'"></div> -->

  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear" ng-click="back() && clearSelection('legs')">
      Cancel
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear" ng-click="back()">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <section bodymap-color-selector region-type="legs" ng-include="'images/bodymap/bodymap-legs.svg'"></section>
  </ion-content>

</ion-view>
