<ion-view title="Torso" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear" ng-click="back()">
      Cancel
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear" ng-click="saveDualSelection('torso') && back()">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header" ng-controller="TorsoCtrl">

    <!-- TODO: test 'active' ng-class - not sticking after toggle -->
    <div class="button-bar">
      <a href
        class="button"
        ng-click="activeTab = 'front'"
        ng-class="{ 'active': activeTab === 'front' }">
          Front
      </a>

      <a href
        class="button"
        ng-click="activeTab = 'back'"
        ng-class="{ 'active': activeTab === 'back' }">
          Back
      </a>
    </div>

    <div class="marginalized" ng-switch="activeTab">
      <div ng-switch-when="front">
        <body-map-dual svg-path="images/bodymap/bodymap-torsofront.svg" region-type="torso" selection-scope="first"></body-map-dual>
      </div>

      <div ng-switch-when="back">
        <body-map-dual svg-path="images/bodymap/bodymap-torsoback.svg" region-type="torso" selection-scope="second"></body-map-dual>
      </div>

      tempSelections: {{ tempSelections }}
    </div>

  </ion-content>

</ion-view>
