<ion-view title="Torso" hide-back-button="true">

  <!-- <div ng-include src="'/templates/surveys/question_types/bodymap/header.html'"></div> -->

  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear" ng-click="back() && clearSelection('torso')">
      Cancel
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear" ng-click="back()">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header" ng-controller="TorsoCtrl">

    <!-- TODO: test 'active' ng-class - not sticking after toggling -->
    <div class="button-bar">
      <a href=""
        class="button"
        ng-click="activeTab = 'front'"
        ng-class="{ 'active': activeTab === 'front' }">
          Front
      </a>

      <a href=""
        class="button"
        ng-click="activeTab = 'back'"
        ng-class="{ 'active': activeTab === 'back' }">
          Back
      </a>
    </div>

    <div class="marginalized" ng-switch="activeTab">
      <div ng-switch-when="front">
        <body-map svg-path="images/bodymap/bodymap-torsofront.svg" region-type="torso" ng-model="tempSelections"></body-map>
      </div>

      <div ng-switch-when="back">
        <body-map svg-path="images/bodymap/bodymap-torsoback.svg" region-type="torso" ng-model="tempSelections"></body-map>
      </div>
      Head Selections: {{tempSelections}}
    </div>

  </ion-content>
</ion-view>
