@font-face {
  font-family: 'ArialMT';
  src:         url('../fonts/Arial.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}

body {
  font-family: ArialMT, Arial, Helvetica, sans-serif !important;
}

input, button, select, textarea, h1, h2, h3, h4, h5, h6 {
 font-family: ArialMT, Arial, Helvetica, sans-serif !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.ion-ios7-heart-outline::before {
  font-weight: bold !important;
}


h1.title {
  font-weight: bold;
}
