.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-down {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-background {
  background-image: url('../images/background/survey.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

// diagonal transparent background
// FIXME: for some reason it has some opacity issue
.diagonal {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url('../images/background/content.png');
    width: 100%;
    opacity: 0.1;
  }
}

.margin-fix {
  margin-left: auto !important;
  margin-right: auto !important;
}

h1.title {
  font-weight: bold;
}