.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-down {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-background {
  background-image: url('../images/background/survey.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.gray-diagonal {
  background-color: #E1E1E1;
  // background-color: #FAFAFA;
  background-image: url('../images/background/content.png');
}

.extension {
  height: 200px;
  background-color: #FAFAFA;
  &.extra {
    height: 375px;
  }
}

.header-bar {
  height: 7px;
  width: 100%;

  &.bar-darkblue {
    background-color: #1B2D6D;
  }
  &.bar-blue {
    background-color: $royal;
  }
  &.bar-red {
    background-color: $red-two;
  }
}

.margin-fix {
  margin-left: auto !important;
  margin-right: auto !important;
}

// diagonal transparent background
// FIXME: for some reason it has some opacity issue
.diagonal {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url('../images/background/content.png');
    width: 100%;
    opacity: 0.1;
  }
}

.pattern-bg {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url('../images/background/content.png');
    opacity: 0.2;
  }
}
