.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-down {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-background {
  background-image: url('../images/background/survey.png');
  background-repeat: no-repeat;
}

.content-background-no-objects {
  background-image: url('../images/background/survey-no-objects.png');
  background-repeat: no-repeat;
}

.gray-diagonal {
  background-color: #E1E1E1;
  background-image: url('../images/background/content.png');
}

.extension {
  height: 200px;
  background-color: #FAFAFA;
  &.extra {
    height: 375px;
  }
}

.header-bar {
  height: 7px;
  width: 100%;

  &.bar-darkblue {
    background-color: #1B2D6D;
  }
  &.bar-altblue {
    background-color: $blue-one;
  }
  &.bar-blue {
    background-color: $royal;
  }
  &.bar-red {
    background-color: $red-two;
  }
}

.margin-fix {
  margin-left: auto !important;
  margin-right: auto !important;
}

.stripe-pattern {
  position: relative;
  &::before {
    content:    '';
    position:   absolute;
    top:        0; left: 0; bottom: 0; right: 0;
    opacity:    0.2;
    width:      100%;

    background-image: url('../images/background/content.png');
    background-size:  5px;
    background-color: $overlay-bg;
  }
}
