@mixin slider-override {
  .slider-pager-page {
    // width:  4%;
    width:     12px;
    font-size: 80%;
    margin:    0 auto;
    color:     rgb(205, 204, 202);
    opacity:   1;
    &.active {
      color: $royal;
    }
  }
}
