@mixin slider-override {
  .slider-pager-page {
    font-size: 80%;
    width:     4%;
    margin:    0 auto;
    color:     rgb(155, 160, 164);
    opacity:   1;
    &.active {
      color: $royal;
    }
  }
}
