// VARIABLE OVERRIDES
// topbar
$royal: #00aed7;
// blue button
$positive: #33bedf;
// gray button
$stable: #D9DCDE;
// green button
$balanced: #2E7E30;
// red button
$assertive: #b3364e;
// $assertive: #df4461;



// HEADER/SIDEMENU
// FIXME: these do not work on device/emulator, likely due to lack of specificity
ion-nav-bar.bar.bar-royal {
  border-color: transparent !important;
}

ion-side-menu.menu-left.menu {
  background-color: #5B6166 !important;
}


// FORM/INPUT OVERRIDES
$checkbox-border:  #808A8F;
$checkbox-checked: #D22C4D;

.checkbox input, .checkbox-icon {
  width: 23px;
  height: 23px;
  top: 55%;

  &::before {
    border-radius: 0 !important;
    border-color:  $checkbox-border !important;
  }

  &::after {}

  &:checked::before {
    background: $checkbox-checked !important;
    border-color: $checkbox-checked !important;
  }

  &:checked::after {}

}


// pseudo-radio checkbox override
label#radio { top: 58%; }

.checkbox#radio input, .checkbox-icon#radio {
  height: 20px;
  width: 20px;

  &::before {
    border-radius: 28px !important;
  }

  &::after {
    border-radius: 14px;
    background-color: white;
    height: 8px;
    width:  8px;
    top:    30%;
    left:   30%;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
  }
}
