
// topbar
$royal: #00aed7;

// red button
$assertive: #df4461;
// $assertive: #D22C4D;

// blue button
$positive: #33bedf;

ion-nav-bar.bar.bar-royal {
  border-color: transparent;
}

ion-side-menu.menu-left.menu {
  background-color: #5B6166 !important;
}
