$primaryGray:   #515151;
$primaryWhite:  #EBEBEB;

$survey-gradient-start: #00aed7;
$survey-gradient-end:   #1b4b9f;

$redGradient:   linear-gradient(to right, #F5C7D0 0%, #DD4662 100%);
$greenGradient: linear-gradient(to right, #B1E2D5 0%, #0E9B73 100%);


$bottom-fill:        #e88d4d;
$bottom-active-fill: #b45a1a;