// VARIABLE OVERRIDES
// topbar
$royal: #00aed7;
// blue button
$positive: #33bedf;
// gray button
$stable: #D9DCDE;
// green button
// $balanced: #3A9D4D;
$balanced: #2E7E30;
// red button
$assertive: #EE0057;
$assertive-alternate: #b3364e;
$assertive-alternate-active: #A4213B;

// color palette stuff
$cyan-one:   #008FB0;
$cyan-two:   #00AED7;
$cyan-three: #33BEDF;
$cyan-four:  #7FD6EB;
$cyan-five:  #B3E7F3;

$blue-one:   #223C7F;
$blue-two:   #1B4B9F;
$blue-three: #496FB2;
$blue-four:  #8DA5CF;
$blue-five:  #BBC9E2;

$red-one:   #B3364E;
$red-two:   #DF4461;
$red-three: #E56981;
$red-four:  #EFA1B0;
$red-five:  #F5C7D0;

// $primary-yellow-one: #;
// $primary-yellow-two: #;
// $primary-yellow-three: #;
// $primary-yellow-four: #;
// $primary-yellow-five: #;

// $secondary-yellow-one: #;
// $secondary-yellow-two: #;
// $secondary-yellow-three: #;
// $secondary-yellow-four: #;
// $secondary-yellow-five: #;

$gray-one:   #5B6166;
$gray-two:   #808A8F;
$gray-three: #99A1A5;
$gray-four:  #BFC4C7;
$gray-five:  #D9DCDE;

$gray-font:      #404548;
$dark-gray-font: #303436;

// pattern-overlay background color
$overlay-bg: rgba(77, 77, 77, 0.2);


// BUTTONS
// home buttons
$button-bottom-fill:        #e88d4d;
$button-bottom-fill-active: #b45a1a;


// button-bar inactive button
$button-gray: #fff;
$red-button: #DF4461;

// GRADIENTS
$slider-red-gradient:   linear-gradient(to right, #F5C7D0 0%, #DD4662 100%);
$slider-green-gradient: linear-gradient(to right, #B1E2D5 0%, #0E9B73 100%);

// MISC COLORS
// buttonbar inactive font:
$inactive-font: #7F8A8E;

// bodymap background color
$bodymap-bg: rgb(242, 243, 235);

// ADVICE
$yellow-advice-item: #CFB745;
