// VARIABLE OVERRIDES
// topbar
$royal: #00aed7;
// blue button
$positive: #33bedf;
// gray button
$stable: #D9DCDE;
// green button
$balanced: #2E7E30;
// red button
$assertive: #DD4460;
$assertive-alternate: #b3364e;
$assertive-alternate-active: #A4213B;

$red-one:   #B3364E;
$red-two:   #DF4461;
$red-three: #E56981;
$red-four:  #EFA1B0;
$red-five:  #F5C7D0;


// pattern-overlay background color
$overlay-bg: #989898;

// SIDEMENU
$menu-gap-width:   100px;
$menu-item-color: #5B6166;
$menu-gap-color:  #808A8F;
$menu-dark-font:  #C0C0C0;

// BUTTONS
// home buttons
$button-bottom-fill:        #e88d4d;
$button-bottom-fill-active: #b45a1a;


// button-bar inactive button
$button-gray: #fff;
$red-button: #DF4461;

// GRADIENTS
$slider-red-gradient:   linear-gradient(to right, #F5C7D0 0%, #DD4662 100%);
$slider-green-gradient: linear-gradient(to right, #B1E2D5 0%, #0E9B73 100%);

// MISC COLORS
// buttonbar inactive font:
$inactive-font: #7F8A8E;

// bodymap background color
$bodymap-bg: rgb(242, 243, 235);
