<ion-view scroll="false" title="Login" hide-back-button="true">

  <ion-content padding="true" class="content-background has-header">

    <ion-list class="login">
      <div class="header-bar bar-blue"></div>

      <form>
        <div class="item item-divider margin-fix">{{message}}</div>

        <label class="item item-input margin-fix">
          <input type="email" placeholder="Email" ng-model="user.email" required>
        </label>

        <label class="item item-input margin-fix">
          <input type="password" placeholder="Password" ng-model="user.password" required>
        </label>

        <div class="padding">
          <button class="button button-block button-assertive bg-pattern red" ng-click="login()">
            <span class="content">Login</span>
          </button>
        </div>

      </form>

    </ion-list>

  </ion-content>

</ion-view>
