// full-width clickable checkboxes
label.checkbox {
  width: 100%;
}

button.override {
  display:       block;
  border:        0;
  border-radius: 5px;
  font-size:     20px;

  &.home {
    height:        44px;
    width:         calc(100% - 140px);
    min-width:     150px;
    margin:        0 70px 10.5px 70px;
  }

  &.diagonal {
    position: relative;
    // opacity: 0.25;

    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background-image: url('/images/content-bg-25.png');
      width: 100%;
      // background: url("/images/content-bg-25.png");
      // background-color: rgba(0,0,0,0.25);
      // opacity:  0.2;
    }
  }

  // &.diagonal {
  //   position: relative;
  //   display: block;

  //   &::after {
  //     content:    "";
  //     background: url('/images/content-bg.jpg');
  //     opacity:    0.5;
  //     top:        0;
  //     left:       0;
  //     bottom:     0;
  //     right:      0;
  //     position:   absolute;
  //     z-index:    -1;
  //   }
  // }

  &.bottom-border {
    box-shadow: inset 0px 0px 0px, 0px 3px 0px 0px $bottom-fill;
  }

  &.activated {
    &.bottom-border {
      box-shadow: inset 0px 0px 0px, 0px 3px 0px 0px $bottom-active-fill;
    }
  }

}
