.progress {
  top:      44px;
  display:  block;
  position: absolute;
  z-index:  10;
  height:   44px;
  width:    100%;

  .progress-block {
    display:    block;
    clear:      both;
    height:     70px;
    opacity:    0.5;
    background: gray;
  }

  .progress-actual {
    position:     relative;
    top:          -50px;
    margin-left:  10px;
    margin-right: 10px;

    .info {
      padding-bottom: 30px;

      span {
        color: white;
        &.text {
          text-transform: uppercase;
        }

        &.count {}
      }

    }

    #bar {
      background-color: white;
      border-radius:    13px;
      // padding:          3px;

      div {
        background-color: red;
        transition:       0.2s ease-in-out;
        height:           8px;
        border-radius:    10px;
      }
    }
  }
}
