.progress {
  display:    block;
  position:   absolute;
  opacity:    0.5;
  // padding: 0 !important;

  .progress-block {
    // position:   fixed;
    display:    block;
    clear:      both;
    height:     70px;
    padding:    10px;
    opacity:    0.5;
    background: gray;
  }

  .progress-actual {
    position:     relative;
    top:          -50px;
    margin-left:  10px;
    margin-right: 10px;
    // padding:   0 5px 0 5px;

    .info {
      padding-bottom: 30px;

      span {
        color: white;
        &.text {
          text-transform: uppercase;
        }

        &.count {}
      }

    }

    #bar {
      background-color: white;
      border-radius:    13px;
      // padding:          3px;

      div {
        background-color: red;
        transition:       0.2s ease-in-out;
        height:           8px;
        border-radius:    10px;
      }
    }
  }
}
