<ion-view title="Pain Case" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button
      class="button button-positive button-clear icon button-icon icon-right ion-ios7-arrow-right"
      ng-click="nextQuestion()"
      ng-show="showNext" style="color: white;">
        Next
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header survey">
    <div class="progress" ng-include src="'/templates/surveys/progress_bar.html'"></div>
    <div class="question-body" ng-include src="'/templates/surveys/question_partial.html'"></div>
  </ion-content>

</ion-view>
