.advice {

  .top {
    display: inline-block;
    height: 100%;
    width: 100%;

    .item {
      height: 250px;
      width: 50%;
      float:  left;

      i {
        left: 50%;
        top: 50%;
        font-size: 50px;
      }

      &:last-child {
        margin-left: 3px;
      }
    }
  }

  .bottom {
    .list > .item {
      cursor: pointer;
    }
  }
}

.advice-modal {
  height: 100%;
}

.recommended {
  position: relative;

  .item {
    .duration {
      // border: 1px dotted black;
    }

    .context {
      // border: 1px dotted black;
    }

    .context > span:last-child {
      // border: 1px dotted black;
      word-break: break-all;
      white-space: normal;
    }
  }

  .badge {
    position:  absolute;
    top:       0px;
    right:     0px;
    font-size: 20px;

    &:hover {
      font-size: 30px;
    }
  }
}