// centers elements
.marginalized {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

// set disabled checkbox styles
.checkbox {
  width: 100%;

  input[disabled]:before {
    border: 1px solid #EF4562;
  }
}
