// checkbox survey partial
.checkbox {
  width: 100%;

  // set disabled checkbox styles
  input[disabled]:before {
    border: 1px solid #EF4562;
  }

  textarea {
    resize: none;
  }
}


// textbox survey partial
.textbox {

  textarea {
    resize: none;
  }

}

// checklist grid
.checkbox-grid {

  .row.grid-list {
    flex-wrap: wrap;

    .col {
      flex: none;
      width: 50%;

      .content {
        border: 1px dotted black;
      }
    }

    .last {
      flex: none;
      width: 100%;
    }

  }

  label {
    line-height: 30px;

    .pull-right {
      float: right;
    }
  }

}
