// checkbox survey partial
.checkbox {
  width: 100%;

  // set disabled checkbox styles
  input[disabled]:before {
    border: 1px solid #EF4562;
  }

  textarea {
    resize: none;
  }
}


// textbox survey partial
.textbox {

  textarea {
    resize: none;
  }

}

// checklist grid
.checkbox-grid {

  label {
    border: 1px dotted black;
    margin: 1px;
    line-height: 30px;

    .pull-right {
      float: right;
    }
  }


}

