.bar.bar-loading {
  display: block;
  height: 24px;
  top: 44px;
  text-align: center;
  padding: 0;
  line-height: 24px;
  -webkit-transition: 200ms all;
}

.has-header {
  -webkit-transition: 200ms top;
  &.has-loading {
    /* 44px (header) + 24px */
    top: 68px;
  }
}

/* make loading bar slide up/down */
.bar-loading {
  &.ng-enter, &.ng-leave.ng-leave-active {
    height: 0;
    border-width: 0px;
  }
  &.ng-enter.ng-enter-active, &.ng-leave {
    height: 24px;
    border-width: 1px;
  }
}