.checklist-grid {

  .row.grid-list {
    flex-wrap: wrap;

    .col {
      flex: none;
      width: 50%;

      .content {
        border: 1px dotted black;
      }
    }

    .last {
      flex: none;
      width: 100%;
    }

  }

  label {
    line-height: 30px;

    .pull-right {
      float: right;
    }
  }

  textarea {
    border: 1px dotted black;
  }

}
