<?xml version='1.0' encoding='utf-8'?>
<widget id="com.funci.painsquad" version="4.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PainSquad</name>
  <description></description>
  <author></author>
  <access origin="*" />
  <content src="index.html" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="TopActivityIndicator" value="white"/>
  <preference name="AllowInlineMediaPlayback" value="false" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="loadUrlTimeoutValue" value="60000" />

  <!-- You still need to add this to the config.xml -->
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="10000" />

  <feature name="Keyboard">
    <param name="ios-package" value="IonicKeyboard" onload="true" />
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice" />
  </feature>

  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection" />
  </feature>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>

  <feature name="Logger">
    <param name="ios-package" value="CDVLogger" />
  </feature>

  <feature name="SplashScreen">
    <param name="ios-package" value="CDVSplashScreen"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="PushPlugin">
    <param name="ios-package" value="PushPlugin" />
  </feature>

  <platform name="android">    
    <icon src="icons/android/icon-36-ldpi.png" width="36" height="36" />
    <icon src="icons/android/icon-48-mdpi.png" width="48" height="48" />
    <icon src="icons/android/icon-72-hdpi.png" width="72" height="72" />
    <icon src="icons/android/icon-96-xhdpi.png" width="96" height="96" />
  </platform>

</widget>


