<ion-view title="Pharmacological">

  <ion-content class="has-header content-background static" padding="true">

    <div class="header-bar bar-darkblue"></div>
    <div class="pain-container">
      <p>
        <em>Analgesics</em> (medications to lessen the pain) decrease the sensation of pain without causing you to lose consciousness. If you have moderate pain, your health care team may use analgesics called opioids (morphine). Your health care team will likely tell you to avoid aspirin and ibuprofen (Advil) because they can increase your risk of bleeding.
      </p>
      <p>
        <em>Anaesthetic</em> creams may be used to numb part of your body if you are having a procedure that only involves only the top surface of the skin, such as putting in an IV needle.
      </p>
    </div>
  </ion-content>

</ion-view>
