<ion-view title="Reduce Pain">

  <ion-header-bar>
    <div class="buttons">
      <button ng-click="back()" class="button button-icon icon ion-ios7-arrow-back">Back</button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header">
    <p>Your health care team will know all about the 3 Ps of pain reduction – pharmacological (medications), physical, and psychological!</p>

     <div class="list">

      <a class="item" ui-sref="app.pain_pharmacological">
        Pharmacological pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item" ui-sref="app.pain_physical">
        Physical pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item" ui-sref="app.pain_psychological">
        Psychological pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

    </div>

  </ion-content>
</ion-view>
