<ion-view title="Physical">

  <ion-content class="has-header content-background static" padding="true">

    <div class="header-bar bar-darkblue"></div>
    <div class="terms-container">
      <p>
        A physical therapist may be asked to help with any pain that comes from your muscles and nerves. They can show you exercises and stretches to help reduce this pain. 
      </p>
      <p>
        Other ways of reducing pain include using heat, cold, or massage. For instance, the cold sensation from popsicles and ice chips can be really helpful for mouth sores!      </p>
      </p>
    </div>
  </ion-content>

</ion-view>
