<ion-view title="Reducing Pain">

  <ion-content class="has-header content-background reduce" padding="true">

    <ion-list>
      <div class="header-bar bar-darkblue"></div>

      <p class="explanation">
        Your health care team will know all about the 3 Ps of pain reduction – pharmacological (medications), physical, and psychological!
      </p>

      <a class="item margin-fix" ui-sref="app.pharmacological">
        Pharmacological pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item margin-fix" ui-sref="app.physical">
        Physical pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>

      <a class="item margin-fix" ui-sref="app.psychological">
        Psychological pain
        <span class="icon-right ion-chevron-right pull-right"></span>
      </a>
    </ion-list>

    <div class="extension extra stripe-pattern"></div>

  </ion-content>

</ion-view>
