<ion-view title="Types of Pain">

  <ion-content class="has-header content-background static" padding="true">

    <div class="header-bar bar-darkblue"></div>
    <div class="types-container">
      <ol>
        <li>
          <em>From the cancer:</em> You may feel pain from the tumour pressing on bone, nerves, or body organs. This pain usually gets milder or disappears completely as treatment removes cancer from your body.
        </li>

        <li>
          <em>From procedures:</em> Cancer treatment means many procedures involving needles, so this may be the most feared part of having cancer.
        </li>

        <li>
          <em>From side effects of cancer treatment: </em> Side effects of cancer treatment include stomach aches and pain from surgical incisions (cuts).
        </li>

        <li>
          <em>Mucositis (say moo-cus-eye-tis):</em> Some chemotherapies cause painful sores in your mouth and throughout your digestive tract (your gut, stomach, and intestines).
        </li>

        <li>
          <em>Neuropathic (say NOO-roe-path-ik) pain:</em> Sometimes cancer treatment can cause nerve damage. You might experience this as pain, burning, tingling, numbness, weakness, clumsiness, trouble walking, or unusual sensations in the hands, arms, legs or feet. Be sure to tell your doctor right away if you notice any of these symptoms.
        </li>

      </ol>
    </div>
  </ion-content>

</ion-view>
