<ion-view title="What is Pain?">

  <ion-content class="has-header content-background static" padding="true">

    <div class="header-bar bar-darkblue"></div>
    <div class="terms-container">
      <p>
        You feel pain when nerve fibres in your body sense something unpleasant and send a message to the brain about the pain. Although pain is unpleasant, it actually can be a useful warning sign from our bodies that something is wrong.
        People may think that if you have cancer you are bound to have pain and that nothing can be done to relieve it. But this isn’t true.
      </p>
    </div>
  </ion-content>

</ion-view>
