#activities_holder {
  .title {
    text-align: right;
  }

  .award_achieved {
    .title {
      background-color: $primary-color;
    }
  }

  .submission_complete {
    .title {
      background-color: $success-color;
    }

    &.mild {
      .title {
        background-color: $success-color;
      }
    }

    &.moderate {
      .title {
        background-color: $alert-color;
      }
    }
  }

  .recommendation_complete {
    .title {
      background-color: $warning-color;
    }
  }

}