<% if activity.subject %>
  <li class="bullet-item">
    <b>Survey Type:</b> <%= activity.subject.survey.identifier %>
  </li>   

  <li class="bullet-item">
    <b>Severity:</b> <%= activity.subject.pain_severity || "No pain" %>
  </li>     
<% end %>