.awards {
  background-color: transparent;

  .slider .slider-pager {
    @include slider-override;
    // @extend .slider-pager-override;
  }

  .slider-slide {
    background-color: transparent;
    padding-top: 7px;

    .wrapper {
      background-color: transparent;
      position: relative;
      height: 250px;

      h3 {
        color: white;
        font-weight: bold;
      }

      img {
        width: 150px;
        text-align: center;
        margin: 0 auto;
      }

      aside {
        color: white;
        font-size: 70px;
        font-weight: normal;
        margin-top: 50px;

        &.back {
          float: left;
          margin-left: 10px;
        }
        &.forward {
          float: right;
          margin-right: 10px;
        }
      }
    }
  }
}

.badges {
  border-top: 6px solid $red-two;
  @extend .gray-diagonal;

  h3 {
    padding-top: 10px;
    text-align: center;
    color: $red-two;
    font-weight: bold;
    font-size: 20px;
  }

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    div {
      margin: 0 20px 0 20px;
    }

    span { text-align: center; }

    #circle {
      width:             75px;
      height:            75px;
      border-radius:     50px;
      background-repeat: no-repeat;
      background-size:   cover;
    }
  }
}
