.awards {
  background-color: transparent;
  position: relative;

  .slider .slider-pager {
    @include slider-override;
    bottom: 40px;
  }

  // time {
  //   color: white;
  //   font-size: 16px;
  //   position: absolute;
  //   top: 200px;
  //   left: 75px;
  // }

  .slider-slide {
    background-color: transparent;
    padding: 0;

    .wrapper {
      background-color: transparent;
      position: relative;
      height: 250px;
      text-align: center;

      h4 {
        color: white;
        font-weight: bold;
      }

      img {
        width: 150px;
        margin: 0 auto;
      }

      aside {
        color: white;
        font-size: 70px;
        font-weight: normal;
        margin-top: 50px;

        &.back {
          float: left;
          margin-left: 10px;
        }
        &.forward {
          float: right;
          margin-right: 10px;
        }
      }
    }
  }
}

.badges {
  @extend .gray-diagonal;
  height: 260px;
  text-align: center;

  h3 {
    text-align: center;
    color: $royal;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 4px 0;
  }

  .row {
    display: flex;
    justify-content: center;

    div {
      margin: 9px;
      position: relative;

      p {
        margin: auto;
        font-size: 13px;
        color: rgb(82, 82, 82);
      }

      &.first p {
        margin-left: -14px;
      }

      .badge-level {
        position:         absolute;
        background-color: rgb(50, 86, 114);
        border:           2px solid white;
        color:            white;
        border-radius:    15px;
        height:           22px;
        width:            22px;
        font-size:        13px;
        top:              30px;
        left:             43px;
        text-align:       center;

        span {
          position: absolute;
          top: -1px;
          left: 2px;
        }
        &.two {
          font-size: 10px;
          span { left: 1px; }
        }
        &.three {
          font-size: 8px;
          span { left: 0; top: 0; }
        }
      }
    }

    #circle {
      width:             65px;
      height:            65px;
      border-radius:     50px;
      background-repeat: no-repeat;
      background-size:   cover;
    }
  }
}


.modal {
  .award {

    .image {
      text-align: center;
      img {
        height: 150px;
        width:  150px;
        margin: 8% auto;
        // margin: 8% 27%;
      }
    }

    article {
      margin:           10px;
      min-height:       300px;
      height:           auto;
      background-color: white;
      text-align:       center;

      .header {
        @extend .gray-diagonal;
        height: auto;
        // min-height: 50px;
        padding: 10px 0;

        p {
          margin: 0 auto;
        }

        p:first-child {
          color:       $royal;
          font-size:   18px;
          font-weight: bold;
          padding-top: 5px;
          padding-bottom: 5px;
          text-transform: uppercase;
        }

        p:last-child {
          color: $gray-font;
          font-size: 12px;
          padding-bottom: 5px;
        }
      }
      .body {
        margin: 20px;
        color: $gray-font;
      }

      button {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
