.blue-bar {
  height: 7px;
  background-color: $royal;
  width: 100%;
}

.advice {
  padding-left: 5px;
  padding-right: 5px;

  .top {
    display:       inline-block;
    margin-top:    10px;
    margin-bottom: 15px;
    height:        100%;
    width:         100%;

    .item {
      @extend .diagonal;
      width:            141px;
      height:           189px;
      float:            left;
      border-radius:    5px;
      background-color: $yellow-advice-item;
      color:            white;
      border:           0;
      text-align:       center;
      padding:          15px 10px;

      h2 {
        display:     block;
        font-weight: bold;
        font-size:   16px;
        color:       white;
        white-space: normal;
      }

      i {
        left:      50%;
        top:       50%;
        font-size: 50px;
      }

      &:last-child {
        margin-left: 8.8px;
        background-color: $red-two;
      }
    }
  }

  .bottom {
    position: relative;

    .item {
      margin-left: auto;
      margin-right: auto;

      &:first-child {
        border-top: 0;
      }
    }

    // FIXME: background-color white is overriding the diagonal pattern ??
    .extension {
      @extend .diagonal;
      height:   200px;
      background-color: white;
    }
  }
}

.recommended {
  position: relative;

  .item {
    margin-left: auto;
    margin-right: auto;

    .duration, .context {
      display: block;
      font-size: 12px;

      span:last-child {
        white-space: normal;
        border: 1px solid black;
        // display: inline-block;
      }
    }

    .badge {
      position:      absolute;
      font-size:     20px;
      top:           -3px;
      right:         0px;
      color:         white;
      border-radius: 4px;
      width:         30px;
      margin:        0 5px;
      background-color: $red-two;
    }
  }
}

.advice-modal {
  // height: 500px;

  .actual {
    // height: 100%;

    .slider {
      height: 500px;
    }
  }
}
