$yellow-item: #CFB745;

.advice {
  padding-left: 5px;
  padding-right: 5px;

  .top {
    display:       inline-block;
    margin-top:    10px;
    margin-bottom: 10px;
    height:        100%;
    width:         100%;

    .item {
      @extend .diagonal;
      height:           190px;
      width:            49%;
      float:            left;
      border-radius:    5px;
      background-color: $yellow-item;
      color:            white;
      border:           0;
      text-align:       center;
      padding:          10px 10px;

      h2 {
        display:     block;
        font-weight: bold;
        color:       white;
        white-space: normal;
      }

      i {
        left:      50%;
        top:       50%;
        font-size: 50px;
      }

      &:last-child {
        margin-left: 8.8px;
        background-color: $assertive;
      }
    }
  }

  .bottom {

    .item {
      &:first-child {
        border-top: 7px solid blue;
      }
    }

    // height: 500px;
    // background-color: white;
    // margin-left: -1px;
    // margin-right: -1px;

    .extension {
      @extend .diagonal;
      height: 500px;
      background-color: white;

    }
  }
}

.recommended {
  position: relative;

  .item {
    .duration {
      // border: 1px dotted black;
    }

    .context {
      // border: 1px dotted black;
    }

    .context > span:last-child {
      // border: 1px dotted black;
      word-break: break-all;
      white-space: normal;
    }
  }

  .badge {
    position:  absolute;
    top:       0px;
    right:     0px;
    font-size: 20px;

    &:hover {
      font-size: 25px;
    }
  }
}

.advice-modal {
  // height: 500px;

  .actual {
    // height: 100%;

    .slider {
      height: 500px;
    }
  }
}
