.advice {
  padding-left: 5px;
  padding-right: 5px;

  .scroll {
    padding-bottom: 0;
  }

  .top {
    display:       inline-block;
    margin-top:    10px;
    margin-bottom: 15px;
    height:        100%;
    width:         100%;

    .advice-item {
      width:         49%;
      float:         left;
      border-radius: 5px;
      color:         white;
      border:        0;
      text-align:    center;
      padding: 10px 10px 0 10px;

      img {
        width: 100%;
      }

      h2 {
        display:     block;
        font-weight: bold;
        font-size:   15px;
        color:       white;
        white-space: normal;
        height:      40px;
      }

      i {
        left:      50%;
        top:       50%;
        font-size: 50px;
      }

      &.yellow {
        background-color: $yellow-advice-item;
        &.active {
          background-color: rgb(155, 135, 45);
        }
      }

      &.red {
        margin-left: 2%;
        background-color: $red-two;
        &.active {
          background-color: rgb(160, 35, 60);
        }
      }
    }
  }

  .bottom {
    position: relative;

    .item {
      margin-left: auto;
      margin-right: auto;
      color: $dark-gray-font;

      &:first-child {
        border-top: 0;
      }
    }
  }
}

.recommended {
  position: relative;

  .item.item-thumbnail-left.first {
    border-top: 0;
  }

  .item {
    margin-left: auto;
    margin-right: auto;
    min-height: 110px;
    height: auto;

    &.skinny-item {
      height: 45px;
      min-height: 0;
      padding-top: 13px;
    }

    .duration, .context {
      color: $dark-gray-font;
      position: relative;

      .row, .col, .col-90, .col-10 {
        padding: 0;
      }

      span {
        font-size: 12px;
        white-space: normal;
      }
    }

    .duration  {
      img {
        position: absolute;
        width:    14px;
        top:      9px;
        left:     -1px;
      }
    }

    .context {
      img {
        position: absolute;
        width:    14px;
        top:      3px;
        left:     -1px;
      }
    }

    .badge {
      top:   -3px;
      right: -2px;
      i img { width: 22px; }
    }

    .chevron-icon {
      position: absolute;
      top:      50px;
      right:    10px;
    }
  }
}

.modal {
  button.button {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    margin:  15px 10px;
    background-color: white;

    &.basic {
      min-height: 480px;
    }

    &.slideshow {
      min-height: 480px;
    }

    &.nested {
      min-height: 480px;
    }

    &.show-slides {
      min-height: 0;
      height: 0%;
    }

    img {
      height: 100%;
    }

    .detail {
      @extend .gray-diagonal;
      margin-top:       -5px;
      height:           100%;
      background-color: #FAFAFA;

      .duration, .context {
        color:     $dark-gray-font;
        max-width: 80%;
        i {
          font-size: 16px;
        }
        span {
          font-size: 12px;
          line-height: 1px;
        }
      }

      .duration {
        padding-bottom: 0;
      }

      .badge {
        position: absolute;
        top:      104px;
        right:    7px;
        i img { width: 22px; }
      }
    }

    .description {
      p {
        font-size: 16px;
        padding:   20px 20px 0 20px;
        color:     $dark-gray-font;

        &.byline {
          color:     $gray-font;
          font-size: 14px;

          br {
            line-height: 35px;
          }
        }
      }
    }
  }
}


.modal .container .slide {
  height: 350px;

  .header {
    height:    50px;
    color:     $royal;
    font-size: 20px;
    padding:   10px;
  }

  .slider .slider-pager {
    @include slider-override;
  }

  .slider {
    height: 100%;

    .slider-slide {
      height: 85%;
      padding-top: 10px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8), -1px 0px 15px -4px rgba(0, 0, 0, 0.8);

      p {
        margin: 7px 15px;
        text-align: left;
      }

      .audio-block {
        position:     relative;
        width:        200px;
        height:       200px;
        display:      block;
        margin-left:  auto;
        margin-right: auto;

        .round-progress {
          position: absolute;
          top:      17px;
          left:     28px;

          circle {
            stroke-linecap: round;
          }
        }

        .button {
          position:      absolute;
          top:           65px;
          left:          78px;
          height:        50px;
          width:         50px;
          border-radius: 25px;
        }
      }

      .tip {
        margin: 10px;
        border: 1px solid red;
        background-color: #FAFAFA;
      }
    }
  }
}

.modal .nested {

  .container {
    min-height: 400px;
    height: 100%;

    .image-block {
      text-align: center;
      vertical-align: bottom;
      height: 50%;
      img { height: 50%; }
    }

    .header {
      height:     50px;
      color:      $royal;
      font-size:  20px;
      text-align: left;
      span {
        display: block;
        padding: 13px 0;
        margin-left: 17px;
      }
    }

    .list-wrapper {
      padding: 20px 35px;

      ol {
        list-style-type: decimal;
        li {
          color: $red-two;
          font-weight: bold;
          p {
            color: $dark-gray-font;
            font-weight: normal;
          }
        }
      }
    }
  }
}