.popup {

  .popup-head {
    text-align: center;
    .popup-title {
      font-size: 16px;
    }
  }

  .popup-body {
    text-align: center;
    color: $gray-one;
  }

  .popup-buttons.row {
    button:first-child {
      position: relative;

      &::before {
        content:         '';
        position:        absolute;
        top:             0; left: 0; bottom: 0; right: 0;
        width:           100%;
        background-size: 350px;
        background-image: url('../images/pattern/grey.png');
        opacity: 0.2;
        border-radius: 5px;
      }
    }

    button:last-child {
      position: relative;

      &::before {
        content:         '';
        position:        absolute;
        top:             0; left: 0; bottom: 0; right: 0;
        width:           100%;
        background-size: 350px;
        background-image: url('../images/pattern/grey.png');
        opacity: 0.2;
        border-radius: 5px;
      }
    }

    // &:first-child button {
    //  position: relative;

    //   &::before {
    //     content:         '';
    //     position:        absolute;
    //     top:             0; left: 0; bottom: 0; right: 0;
    //     width:           100%;
    //     background-size: 350px;
    //     background-image: url('../images/pattern/grey.png');
    //     opacity: 0.2;
    //     border-radius: 5px;
    //   }
    // }

    // &:last-child button {
    //  position: relative;

    //   &::before {
    //     content:         '';
    //     position:        absolute;
    //     top:             0; left: 0; bottom: 0; right: 0;
    //     width:           100%;
    //     background-size: 350px;
    //     background-image: url('../images/pattern/blue.png');
    //     opacity: 0.2;
    //     border-radius: 5px;
    //   }
    // }

  }
}
