// full-width clickable checkboxes
label.checkbox {
  // width: 100%;
}

button.override {
  display:       block;
  border:        0;
  border-radius: 5px;
  font-size:     20px;

  &.home {
    height:        44px;
    width:         calc(100% - 140px);
    min-width:     150px;
    margin:        0 70px 10px 70px;
  }

  &.bottom-border {
    box-shadow: inset 0px 0px 0px, 0px 3px 0px 0px $button-bottom-fill;
  }

  &.activated {
    &.bottom-border {
      box-shadow: inset 0px 0px 0px, 0px 3px 0px 0px $button-bottom-fill-active;
    }
  }
}


.button-bar > a.button {
  &.override {
    color: $inactive-font;

    &:first-child {
      border-radius: 5px 0px 0px 5px;
    }
    &:last-child {
      border-radius: 0px 5px 5px 0px;
    }

    &.active {
      background-color:    $assertive;
      color:               white;
    }
  }
}
