button {
  &.override {
    display:       block;
    border:        0;
    border-radius: 5px;
    font-size:     20px;

    &.home {
      height:    44px;
      width:     calc(100% - 70px);
      min-width: 150px;
      margin:    10px auto;
    }

    &.done {
      height:           25px;
      width:            60px;
      font-size:        16px;
      background-color: $assertive;
    }

    &.bottom-border {
      box-shadow: inset 0px 0px 0px, 0px 3px 0px 0px $button-bottom-fill;
    }

    &.activated {
      &.bottom-border {
        box-shadow: inset 0px 0px 0px, 0px 3px 0px 0px $button-bottom-fill-active;
      }
    }
  }
}

button.button.show-next {
  &.show-active {
    color: white;
  }
  &.show-inactive {
    color: #737D80;
  }
}

.button-bar > a.button {
  &.override {
    color: $inactive-font;
    border: 0;

    &:first-child {
      border-radius: 5px 0px 0px 5px;
    }
    &:last-child {
      border-radius: 0px 5px 5px 0px;
    }

    &.active {
      background-color: $red-button;
      color: white;
    }
  }
}
