.home {
  clear: both;

  .transparent-header {
    height:           60px;
    color:            white;

    span {
      padding:        10px;
      display:        inline-block;
      font-size: 8px;
      font-weight:    bold;
      text-transform: uppercase;

      i {
        font-size: 24px;
        display: block;
      }

      &.next-level {
        text-align: left;
      }
      &.current-points {
        text-align:   right;
        float:        right;
      }
    }
  }

  .body-wrapper {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.2);

    .action {
      margin-top: 20px;

      button {
        text-align: center;
        position: relative;
        display: block;
        img {
          position:      absolute;
          height:        70%;
          border:        2px solid white;
          border-radius: 20px;
          right:         10px;
          top:           6px;
        }
      }
    }

  }

}