.intro {

  .scroll .slider {
    overflow: visible;

    .slider-slides {
      position: relative;
      padding-top: 10px;

      .slider-slide {
        height:           440px;
        background-color: white;
        box-shadow:       0px 0px 15px -9px rgba(0, 0, 0, 0.8), 0px 0px 15px -4px rgba(0, 0, 0, 0.8);
        text-align:       left;

        h3 {
          background-image: url('../images/background/content.png');
          background-color: $gray-five;
          margin:           0 auto;
          padding:          15px 20px;
          color:            #1B2D6D;
          font-size:        22px;
        }

        .image-wrapper, .lower-wrapper {
          padding: 0 20px;
        }

        .image-wrapper {
          padding: 15px 20px;
          img {
            max-width: 245px;
            width:     98%;
          }
        }

        .lower-wrapper {
          p {
            font-family: 'ArialMT';
            font-size:   14px;
            color:       $gray-font;
            height:      90px;
          }

          button {
            border:        0;
            border-radius: 5px;
            margin-top:    20px;
            text-align:    center;

            .button-text {
              margin-left: 25px;
            }

            .icon-right {
              margin-right: 10px;
              font-size: 24px;
            }

          }
        }
      }
    }

    .slider-pager {
      @include slider-override;
      bottom: -455px;
    }
  }
}
