.intro {
  z-index: 1;
  .scroll .slider {
    .slider-slides {
      position: relative;
      padding-top: 20px;

      .slider-slide {
        height:           410px;
        background-color: white;
        box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.8), 0px 0px 15px -4px rgba(0, 0, 0.8);
        text-align:       left;

        h3 {
          background-image: url('../images/background/content.png');
          background-color: $gray-five;
          margin:           0 auto;
          padding:          15px 20px;
          color:            #1B2D6D;
          font-size:        22px;
        }

        .image-wrapper, .lower-wrapper {
          padding: 0 20px;
        }

        .image-wrapper {
          padding: 10px 20px;
          img {
            width: 98%;
          }
        }

        .lower-wrapper {
          p {
            font-size: 12px;
            height: 80px;
          }
          button {
            border:        0;
            border-radius: 5px;
            &::before {}
            &::after {}
          }
        }
      }
    }

    .slider-pager {
      @include slider-override;
      bottom: 5px;
    }

  }
}
