.intro {
  padding-top: 10px;

  .scroll .slider {
    .slider-slides {
      position: relative;
      padding-top: 10px;

      .slider-slide {
        height:           440px;
        background-color: white;
        box-shadow:       0px 0px 15px -9px rgba(0, 0, 0, 0.8), 0px 0px 15px -4px rgba(0, 0, 0, 0.8);
        text-align:       left;


        .header {
          h3 {
            margin:           0 auto;
            padding:          15px 20px;
            color:            #1B2D6D;
            font-size:        22px;
          }
        }

        .image-wrapper, .lower-wrapper {
          padding: 0 20px;
        }

        .image-wrapper {
          padding: 15px 20px;
          img {
            width: 100%;
          }
        }

        .lower-wrapper {
          p {
            font-family: 'ArialMT';
            font-size:   14px;
            color:       $gray-font;
            height:      90px;
          }

          .button {
            width: 100%;
            border:        0;
            border-radius: 5px;
            margin-top:    20px;
            text-align:    center;
            &::before {
              padding-left: 200px;
              padding-top:  4px;
            }

            .button-text {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .slider-pager {
      @include slider-override;
    }
  }
}
