// SIDEMENU
$menu-gap-width:  150px;
$menu-item-color: #5B6166;
$menu-gap-color:  $gray-two;
$menu-dark-font:  #C0C0C0;

ion-content.sidemenu {
  position: relative;

  .top-bar {
    background-color: $royal;
    height: 20px;
    top: -20px;
  }

  .scroll {
    top: -20px;
  }

  .scroll-content {
    background-color: $menu-item-color;
  }

  .item {
    border-color: gray;
    background-color: $menu-item-color;

    .ion-chevron-down, .ion-chevron-right {
      margin-right: -10px;
    }

    .override {
      margin-right: 19px;
    }

    a {
      background-color: $menu-item-color;
      color:            $menu-dark-font;
    }

    &.no-border {
      &.top { border-top: 0; }
      &.bottom { border-bottom: 0; }
    }
  }

  .item.white {
    color: white;
    border-color: #4B4A46;
    a { color: white; }
  }

  .item.item-divider {
    border-color:     transparent;
    height:           $menu-gap-width;
    background-color: rgb(75, 78, 81);
    // background-color: $menu-gap-color;
  }

  .list .item.item-accordion.ng-hide {
    line-height: 0px;
  }

  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
    display: block !important;
  }

}
