// SIDEMENU
$menu-gap-width:   100px;
$menu-item-color: #5B6166;
$menu-gap-color:  #808A8F;
$menu-dark-font:  #C0C0C0;

.spacer {
  height: 20px;
  color: red !important;
  background-color: green !important;
  // background-color: $royal !important;
}

ion-content.sidemenu {
  top: 20px;
  background-color: $menu-item-color !important;

  .scroll-content {
    background-color: $menu-item-color !important;
  }

  .item {
    border-color: gray;
    &:nth-child(1) a, &:nth-child(2) a { color: white; }

    a {
      background-color: $menu-item-color;
      color:            $menu-dark-font;
    }
  }

  .item.item-divider {
    border-color:     transparent;
    height:           $menu-gap-width;
    background-color: $menu-gap-color;
  }

}

// .pane, .view {
//   background-color: none !important;
// }
