ion-content.sidemenu {
  top: 20px;
  background-color: $menu-item-color !important;

  .scroll-content {
    background-color: $menu-item-color !important;
  }

  .item {
    border-color: gray;
    &:nth-child(1) a, &:nth-child(2) a { color: white; }

    a {
      background-color: $menu-item-color;
      color:            $menu-dark-font;
    }
  }

  .item.item-divider {
    border-color:     transparent;
    height:           $menu-gap-width;
    background-color: $menu-gap-color;
  }

}
