@media (min-width: 680px) {
  #fullscreen {
    top:    0 !important;
    bottom: 0 !important;
    left:   0 !important;
    right:  0 !important;
    width:  100% !important;
  }
}

.modal {

  .modal-inherit {
    @extend .survey;

    .content-wrapper {
      padding-left: 15px;
      padding-right: 15px;
      margin: 20px 10px 0 10px;

      .content-header {
        width: 100%;
        display: block;
      }

      .content {
        background: white;
        min-height: 370px;

        .content-actual {
          font-size:     16px;
          height:        80px;
          border-bottom: 1px solid lightgray;
          text-align:    center;
          padding:       15px;
          display:       block;
          position:      relative;

          &::before {
            content:    '';
            position:   absolute;
            top:        0; left: 0; bottom: 0; right: 0;
            background: url('/images/background/content.png');
            background-color: lightgray;
            opacity:    0.2;
            width:      100%;
          }
        }

        .upper .number {
          color: $gray-font;
        }

        .slider-container {
          // padding-top: 10px;
        }

        .content-textarea {
          padding: 20px;
          border-bottom: 1px solid lightgray;

          label.item.item-input {
            border-color: lightgray;
            textarea {
              padding-top: 20px;
              resize: none;
              &::-webkit-input-placeholder {
                font-style: italic;
              }
            }
          }
        }

        .map section svg {
          height:      50%;
          background-color: $bodymap-bg;

          &#head, &#torso, &#arms, &#legs {
            width: 85%;
            margin: 10px 20px;
          }
        }

        .tip {
          text-align: center;
          color:      $gray-font;
          margin:     24px;
          font-size:  12px;
          background-image: url('../images/background/content.png');
          background-color: rgba(217, 220, 222, 0.2);

          p {
            padding: 2px 5px;
            border: 1px solid $red-four;
          }
        }

        section .button-bar {
          padding-top:  10px;
          width:        90%;
          margin-left:  auto;
          margin-right: auto;

          .button {
            @extend .override;
            @extend .stripe-pattern;
          }
        }

        .slider-disable {
          .item.item-checkbox {
            width: 100%;
            margin-bottom: 20px;
            position: relative;
            margin-top: 20px;
            font-size: 14px;

            span.idk {
              position: absolute;
              top:      13px;
            }
          }
        }
      }
    }
  }
}
