@media (min-width: 680px) {
  #fullscreen {
    top:    0 !important;
    bottom: 0 !important;
    left:   0 !important;
    right:  0 !important;
    width:  100% !important;
  }
}

.modal {

  .modal-inherit {

    .content-wrapper {
      margin: 20px 15px;

      .content-header {
        width: 100%;
        display: block;
      }

      .content {
        background: white;
        min-height: 440px;

        .content-actual {
          font-size:     16px;
          height:        80px;
          border-bottom: 1px solid lightgray;
          text-align:    center;
          padding:       15px;
          display:       block;
          position:      relative;

          &::before {
            content:    '';
            position:   absolute;
            top:        0; left: 0; bottom: 0; right: 0;
            background: url('/images/background/content.png');
            background-color: lightgray;
            opacity:    0.2;
            width:      100%;
          }
        }

        .upper .number {
          color: $gray-font;
        }

        .content-textarea {
          padding: 20px;
          border-bottom: 1px solid lightgray;

          label.item.item-input {
            border-color: lightgray;
            textarea {
              resize: none;
              &::-webkit-input-placeholder {
                font-style: italic;
              }
            }
          }
        }

        .map {
          .bodymap-wrapper {
            position: relative;
            z-index: 0;

            section {
              z-index: 1;
                svg {
                position: relative;
                overflow: hidden;
                height: 50%;

                &#head, &#torso, &#arms, &#legs {
                  width: 85%;
                  margin: 10px 20px;
                }

                &#legs {
                  z-index: 2;
                }

                &#arms {
                  width: 79%;
                }
              }
            }

            .head-bg, .torso-bg, .torso-bg, .legs-bg, .arm-bg {
              position: absolute;
              z-index:  -1;
              width:    85%;
              height:   90%;
              margin:   10px 20px;
              top:      0px;
              left:     0px;
            }

            .arm-bg {
              height: 277px;
            }
          }
        }

        .tip {
          text-align:       center;
          color:            $gray-font;
          margin:           10px 22px;
          font-size:        12px;
          background-image: url('../images/background/content.png');
          background-color: rgba(217, 220, 222, 0.2);

          p {
            padding: 2px 5px;
            border: 1px solid $red-four;
          }
        }

        section .button-bar {
          padding-top:  10px;
          width:        85%;
          margin-left:  auto;
          margin-right: auto;

          .button {
            @extend .override;
            @extend .stripe-pattern;
          }
        }

        .slider-disable {
          .item.item-checkbox {
            width: 100%;
            margin-bottom: 20px;
            position: relative;
            margin-top: 20px;
            font-size: 14px;

            span.idk {
              position: absolute;
              top:      13px;
            }
          }
        }
      }
    }
  }
}
