$circle-bg: #C7DBEA;
$circle-fill: #D12D4E;

.home .radial-wrapper {
  position:     relative;
  height:       200px;
  width:        225px;
  display:      block;
  margin-left:  auto;
  margin-right: auto;

  .line-left, .line-right {
    position: absolute;
    height:   20px;
    width:    30px;
    top:      -42px;
  }

  .line-left {
    left:         86px;
    border-top:   2px solid $circle-bg;
    border-right: 4px solid $circle-bg;
  }

  .line-right {
    left:        116px;
    border-top:  2px solid $circle-fill;
    border-left: 4px solid $circle-fill;
  }

  img {
    position: absolute;
    width: 165px;
    display: block;
    top:      -4px;
    left:     33px;
  }

  svg {
    position: absolute;
    top: -35px;
  }
}
