$circle-bg: #C7DBEA;
$circle-fill: #D12D4E;

.home .radial-wrapper {
  position:     relative;
  height:       200px;
  width:        225px;
  display:      block;
  margin-left:  auto;
  margin-right: auto;

  .line-left, .line-right {
    position: absolute;
    height:   22px;
    width:    30px;
    top:      -42px;
    z-index:  5;
  }

  .line-left {
    left:         86px;
    border-top:   2px solid $circle-bg;
    border-right: 7px solid $circle-bg;
  }

  .line-right {
    left:        116px;
    border-top:  2px solid $circle-fill;
    border-left: 7px solid $circle-fill;
  }

  img {
    position: absolute;
    width:    165px;
    display:  block;
    top:      -4px;
    left:     33px;
  }

  svg {
    position: absolute;
    top: -35px;
    circle {
      transition: stroke-dashoffset 0.3s linear;
      stroke-linecap: round;
    }
  }
}
