$circle-bg: #C7DBEA;
$circle-fill: #D12D4E;

.home .radial-wrapper {
  position:     relative;
  height:       200px;
  width:        225px;
  display:      block;
  margin-left:  auto;
  margin-right: auto;

  .line-left, .line-right {
    position: absolute;
    height:   24px;
    width:    30px;
    top:      -42px;
    z-index:  5;
  }

  .line-left {
    left:         86px;
    border-top:   2px solid $circle-bg;
    border-right: 8px solid $circle-bg;
  }

  .line-right {
    left:        116px;
    border-top:  2px solid $circle-fill;
    border-left: 8px solid $circle-fill;
  }

  .overlay {
    .rank {
      position:      absolute;
      width:         175px;
      display:       block;
      top:           -8px;
      left:          28px;
      border-radius: 50%;
    }

    .shadow {
      position: absolute;
      width:    300px;
      top:      -30px;
      left:     30px;
      z-index:  -1;
    }
  }

  svg {
    z-index: 1;
    position: absolute;
    top: -35px;
    circle {
      transition: stroke-dashoffset 0.3s linear;
      stroke-linecap: round;
    }
  }
}
