// overrides for custom range inputs
$thumb-height: 30px;

.range.override {
  input[type="range"] {
    height:        $thumb-height + 10;
    padding-left:  0;
    padding-right: 0;

    &::-webkit-slider-thumb {
      height:        $thumb-height;
      width:         $thumb-height;
      border-radius: $thumb-height;
      border:        1px solid $assertive;
    }

    &::-webkit-slider-thumb:before {
      display: none;
    }
  }
}

.range {
  padding: 0;
  &.range-assertive.override {
    input {
      border-radius:    20px;
      background-image: #f5c7d0; /* Old browsers */
      background-image: -moz-linear-gradient(left, #f5c7d0 0%, #dd4662 100%); /* FF3.6+ */
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5c7d0), color-stop(100%,#dd4662)); /* Chrome,Safari4+ */
      background-image: -webkit-linear-gradient(left, #f5c7d0 0%,#dd4662 100%); /* Chrome10+,Safari5.1+ */
      background-image: -o-linear-gradient(left, #f5c7d0 0%,#dd4662 100%); /* Opera 11.10+ */
      background-image: -ms-linear-gradient(left, #f5c7d0 0%,#dd4662 100%); /* IE10+ */
      background-image: linear-gradient(to right, #f5c7d0 0%,#dd4662 100%); /* W3C */
      background-size:  100% 100%;
      height:           15px;
      margin:           10px;
      overflow:         visible;

      &::-webkit-slider-thumb {
        border: 1px solid $assertive;
        border-radius: 20px;
      }
    }
  }

  &.range-balanced.override {
    input {
      border-radius:    20px;
      background-image: #b1e2d5; /* Old browsers */
      background-image: -moz-linear-gradient(left, #b1e2d5 0%, #0e9b73 100%); /* FF3.6+ */
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#b1e2d5), color-stop(100%,#0e9b73)); /* Chrome,Safari4+ */
      background-image: -webkit-linear-gradient(left, #b1e2d5 0%,#0e9b73 100%); /* Chrome10+,Safari5.1+ */
      background-image: -o-linear-gradient(left, #b1e2d5 0%,#0e9b73 100%); /* Opera 11.10+ */
      background-image: -ms-linear-gradient(left, #b1e2d5 0%,#0e9b73 100%); /* IE10+ */
      background-image: linear-gradient(to right, #b1e2d5 0%,#0e9b73 100%); /* W3C */
      background-size:  100% 100%;
      height:           15px;
      margin:           10px;
      overflow:         visible;

      &::-webkit-slider-thumb {
        border:        1px solid #76C6AE;
        border-radius: 20px;
        box-shadow:    0;
      }
    }
  }
}

// SLIDER
.slider-container {
  margin:        auto;
  padding-left:  10px;
  padding-right: 10px;

  &.disabled { opacity: 0.25; }

  .wedge-outer-container {
    margin: 10px 11px 0px 11px;
    max-width: 280px;

    .wedge-container {
      position: relative;
      height: 100px;
      z-index: 0;

      .wedge {
        position:     absolute;
        z-index:      10;
        border-style: solid;
        border-width: 0 0 100px 250px;
        border-color: transparent transparent transparent white;
      }

      .wedge-overlay {
        position: absolute;
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;

        &.red {
          background-image: #f5c7d0; /* Old browsers */
          background-image: -moz-linear-gradient(left, #f5c7d0 0%, #dd4662 100%); /* FF3.6+ */
          background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5c7d0), color-stop(100%,#dd4662)); /* Chrome,Safari4+ */
          background-image: -webkit-linear-gradient(left, #f5c7d0 0%,#dd4662 100%); /* Chrome10+,Safari5.1+ */
          background-image: -o-linear-gradient(left, #f5c7d0 0%,#dd4662 100%); /* Opera 11.10+ */
          background-image: -ms-linear-gradient(left, #f5c7d0 0%,#dd4662 100%); /* IE10+ */
          background-image: linear-gradient(to right, #f5c7d0 0%,#dd4662 100%); /* W3C */
        }

        &.green {
          background-image: #b1e2d5; /* Old browsers */
          background-image: -moz-linear-gradient(left, #b1e2d5 0%, #0e9b73 100%); /* FF3.6+ */
          background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#b1e2d5), color-stop(100%,#0e9b73)); /* Chrome,Safari4+ */
          background-image: -webkit-linear-gradient(left, #b1e2d5 0%,#0e9b73 100%); /* Chrome10+,Safari5.1+ */
          background-image: -o-linear-gradient(left, #b1e2d5 0%,#0e9b73 100%); /* Opera 11.10+ */
          background-image: -ms-linear-gradient(left, #b1e2d5 0%,#0e9b73 100%); /* IE10+ */
          background-image: linear-gradient(to right, #b1e2d5 0%,#0e9b73 100%); /* W3C */
        }
      }

      .rect {
        position:         absolute;
        height:           100%;
        right:            0%;
        z-index:          1;
        background-color: #E7E7E7;
      }
    }
  }

  .range-container {
    padding-bottom: 10px;

    .upper {
      margin-top: 15px;

      .number {
        color: $gray-font;
        font-size:     27px;
        margin-top:    5px;
        margin-bottom: -15px;

        &:nth-child(1) { margin-left: 12px; }
        &:nth-child(2) { margin-right: 12px; }
      }
    }

    .range {
      margin-top: 10px;
    }

    .lower {
      margin-top: 10px;

      .text {
        text-transform: uppercase;
        font-size:      10px;
        margin-top:     -12px;

        &:nth-child(1) { margin-left: 12px; }
        &:nth-child(2) { margin-right: 12px; }
      }
    }
  }
}
