// overrides for custom range inputs
$thumb-height: 30px;

.range.override {
  input[type="range"] {
    height:        $thumb-height + 10;
    padding-left:  0;
    padding-right: 0;

    &::-webkit-slider-thumb {
      height:        $thumb-height;
      width:         $thumb-height;
      border-radius: $thumb-height;
      border:        1px solid $assertive;
    }

    &::-webkit-slider-thumb:before {
      display: none;
    }
  }
}

.range {
  &.range-assertive.override {
    input {
      border-radius:    20px;
      background-image: $slider-red-gradient;
      background-size:  100% 100%;
      height:           15px;
      margin:           10px;
      overflow:         visible;

      &::-webkit-slider-thumb {
        border: 1px solid $assertive;
        border-radius: 20px;
      }
    }
  }

  &.range-balanced.override {
    input {
      border-radius:    20px;
      background-image: $slider-green-gradient;
      background-size:  100% 100%;
      height:           15px;
      margin:           10px;
      overflow:         visible;

      &::-webkit-slider-thumb {
        border:        1px solid #76C6AE;
        border-radius: 20px;
        box-shadow:    0;
      }
    }
  }
}

// SLIDER
.slider-container {
  margin:        auto;
  padding-left:  10px;
  padding-right: 10px;

  &.disabled { opacity: 0.25; }

  .wedge-outer-container {
    margin: 0 11px;
    max-width: 280px;

    .wedge-container {
      position: relative;
      height: 100px;
      z-index: 0;

      .wedge {
        position:     absolute;
        z-index:      10;
        border-style: solid;
        border-width: 0 0 100px 250px;
        border-color: transparent transparent transparent white;
      }

      .wedge-overlay {
        position: absolute;
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;

        &.red {
          background-image: $slider-red-gradient;
        }

        &.green {
          background-image: $slider-green-gradient;
        }
      }

      .rect {
        position:         absolute;
        height:           100%;
        right:            0%;
        z-index:          1;
        background-color: #E7E7E7;
      }
    }
  }

  .range-container {

    .upper {
      margin-top: 10px;

      .number {
        color: $gray-font;
        font-size:     27px;
        margin-top:    5px;
        margin-bottom: -15px;

        &:nth-child(1) { margin-left: 15px; }
        &:nth-child(2) { margin-right: 15px; }
      }
    }

    .range {
      margin-top: 10px;
    }

    .lower {
      margin-top: 10px;

      .text {
        text-transform: uppercase;
        font-size:      10px;
        margin-top:     -15px;

        &:nth-child(1) { margin-left: 15px; }
        &:nth-child(2) { margin-right: 15px; }
      }
    }
  }
}
