// GENERAL STYLES
li.item, .item.item-checkbox {
  margin-left:  0px;
  margin-right: 0px;
}


// BOOLEAN
.boolean {
  padding:      0 20px 0 20px;
  margin-left:  auto;
  margin-right: auto;
}


// RADIO
.radio {}

// CHECKLIST-EXTRA
.checklist-extra {
  li.item.item-checkbox {
    &.disabled { opacity: 0.5 ; }
    &.textfield { border-bottom: 0; }
  }
}

// CHECKLIST
.checklist {
  width: 100%;

  label.other-textbox {
    position:   relative;
    border-top: 0;
    margin:     5px;
    border:     1px solid gray;
  }

  li.item.item-checkbox {
    &.disabled { opacity: 0.5 ; }
    &.textfield { border-bottom: 0; }
  }

  li.other-textarea {
    padding-bottom: 10px;
  }

  .item.item-input.other-textbox {
    border-color: lightgray;
    margin:       0 10px 10px 60px;
    textarea { resize: none; }
  }
}

// CHECKLIST-GRID
.checklist-grid {
  clear: both;

  form div {
    width: 50%;
    float: left;
    border-bottom: 1px solid black;

    textarea { resize: none; }

    li.item {
      margin-top:    1px;
      margin-bottom: 1px;
      border:        0;
      width:         100%;
      font-size:     15px;
    }

    .item.item-input {
      border-color: lightgray;
      margin:       0 10px 0 60px;
    }

    &.wide {
      width: 100%;
    }

    &.last {
      clear: left;
      width: 100%;
      float: none;
      border: none;
      padding-bottom: 10px;
    }
  }
}


// BODYMAP
.bodymap {

  .item {
    margin-left:  0px;
    margin-right: 0px;
    padding:      10px;

    img { background-color: $bodymap-bg; }

    .ion-checkmark-circled {
      position: absolute;
      top:      35px;
      left:     40px;
    }

    .content {
      margin-left: 15px;
      top: -10px;
    }

    .icon-right.ion-chevron-right {
      float: right;
      margin-top: 15px;
    }
  }
}

// TEXTAREA
.textbox {
  padding: 20px;

  textarea {
    resize: none;
  }

}
