.survey {

  &.survey-complete {
    .content-wrapper .question {
      .content-actual {
        height: 60px;
        padding: 10px;

        .top {
          color: $assertive-alternate;
        }
        .bottom {
          font-size: 14px;
        }
      }

      .summary {
        padding:    20px;
        text-align: center;
      }

      .points {
        text-align: center;
        img {
          width: 85%;
        }
      }
    }
  }

  .progress-mock { height: 60px; }

  .content-wrapper {
    margin: 0 10px 0 10px;

    .content-header {
      width:   100%;
      display: block;
    }

    .question {
      background: white;
      min-height: 370px;

      .content-actual {
        font-size:     18px;
        position:      relative;
        height:        80px;
        border-bottom: 1px solid lightgray;
        text-align:    center;
        padding:       15px;
        display:       block;

        &::before {
          content:    '';
          position:   absolute;
          top:        0; left: 0; bottom: 0; right: 0;
          opacity:    0.2;
          width:      100%;
          background-image: url('../images/background/content.png');
          background-color: $overlay-bg;
        }
      }
    }

    .tip {
      clear:   both;
      color:   rgb(80, 80, 80);
      margin:  10px 30px 10px 30px;
      padding: 10px 5px 10px 5px;
      p {
        padding: 5px 20px 5px 20px;
        border:  1px solid red;
      }
    }
  }
}
