// GENERAL STYLES
li.item, .item.item-checkbox {
  margin-left: 0px;
  margin-right: 0px;
}


// BOOLEAN
.boolean {
  // height:       300px;
  padding:      0 20px 0 20px;
  margin-left:  auto;
  margin-right: auto;
}


// RADIO
label.item.item-radio {
  // background-color: red;
  // margin: 5px;
}


// CHECKLIST
section.checklist {
  width: 100%;
}

label.other-textbox {
  position: relative;
  border-top: 0;
  margin: 5px;
  border: 1px solid gray;
}

li.item.item-checkbox {

  &.disabled {
    opacity: 0.5;
  }

  &.textfield {
    border-bottom: 0;
  }
}

.item.item-input.other-textbox {
  border-color: lightgray;
  margin:       0 10px 0 60px;

  textarea {
    resize: none;
  }
}

// CHECKLIST-GRID
.checklist-grid {
  div {
    min-width: 50%;
    max-width: 100%;
    float: left;

    .divider {
      color: lightgrey;
    }

    li.item {
      margin-top:       1px;
      margin-bottom:    1px;
      border:           0;
      width:            100%;
    }

    .item.item-input {
      border-color: lightgray;
      margin:       0 10px 0 60px;

      textarea {
        resize: none;
      }
    }

    &.last {
      clear: left;
      width: 100%;
    }
  }
}

// CHECKLIST-EXTRA
.checklist-extra {
}


// BODYMAP
.bodymap {

  .item {
    margin-left:  0px;
    margin-right: 0px;
    padding:      10px;

    .ion-checkmark-circled {
      position: absolute;
      top:      35px;
      left:     40px;
    }

    .content {
      margin-left: 15px;
      top: -10px;
    }

    .icon-right.ion-chevron-right {
      float: right;
      margin-top: 15px;
    }
  }
}

// TEXTAREA
.textbox {
  padding: 20px;

  textarea {
    resize: none;
  }

}

// SLIDER
.slider-container {
  margin:        auto;
  padding-left:  10px;
  padding-right: 10px;

  &.disabled { opacity: 0.25; }

  .wedge-container {
    position:         relative;
    height:           150px;
    background-color: #E7E7E7;
    width:            90%;
    margin-left:      15px;

    .wedge {
      position:     absolute;
      z-index:      10;
      border-style: solid;
      border-width: 0 0 150px 270px;
      border-color: transparent transparent transparent white;
    }

    .overlay {
      position: absolute;
      margin:   0 auto;
      z-index:  0;
      top:      0;
      left:     0;
      width:    50%;
      height:   100%;

      &.red {
        background-image: $slider-red-gradient;
      }

      &.green {
        background-image: $slider-green-gradient;
      }
    }
  }

  .range-container {

    .upper {

      .number {
        font-size:     27px;
        margin-top:    5px;
        margin-bottom: -15px;

        &:nth-child(1) { margin-left: 15px; }
        &:nth-child(2) { margin-right: 15px; }
      }
    }

    .range {}

    .lower {
      .text {
        text-transform: uppercase;
        font-size:      10px;
        margin-top:     -15px;
        &:nth-child(1) { margin-left: 15px; }
        &:nth-child(2) { margin-right: 15px; }
      }
    }
  }
}
