.survey {

  &.survey-complete {
    .content-wrapper {
      margin: 10px;
      .question {
        height: 480px;
      }
    }

    .content-wrapper .question {
      .content-actual {
        height: 60px;
        padding: 10px;

        .top {
          color: $assertive-alternate;
        }
        .bottom {
          font-size: 14px;
        }
      }

      .summary {
        padding:    20px;
        text-align: center;
      }

      .points {
        position: relative;
        z-index: 0;
        text-align: center;

        .points-img {
          position: relative;
          z-index: 1;
          width: 85%;
        }

        .shadow {
          position: absolute;
          z-index:  0;
          width:    88%;
          top:      16px;
          left:     31px;
        }
      }
    }
  }

  .progress-mock { height: 60px; }

  .content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px 0 10px;

    .content-header {
      width:   100%;
      display: block;
    }

    .question {
      background: white;
      min-height: 390px;
      padding-bottom: 10px;

      .content-actual {
        font-size:     16px;
        height:        80px;
        border-bottom: 1px solid lightgray;
        text-align:    center;
        padding:       15px 20px;
        display:       block;
        @extend .stripe-pattern;
      }
    }

    .tip {
      text-align: center;
      clear:      both;
      color:      $gray-font;
      margin:     24px;
      font-size:  12px;
      background-image: url('../images/background/content.png');
      background-color: rgba(217, 220, 222, 0.2);

      p {
        padding: 2px 5px;
        border: 1px solid $red-four;
      }
    }
  }
}
