<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false" scroll="false">

    <ion-nav-bar class="bar-royal nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="nav-title-slide-ios7"></ion-nav-view>

  </ion-pane>

  <ion-side-menu side="left">

    <ion-content class="sidemenu">
      <div class="top-bar"></div>
      <ion-list class="no-padding-top">
        <div class="header-bar bar-altblue no-border top"></div>

        <ion-item menu-close ui-sref="app.reports" class="white no-border top special-bottom-border">
          <img ng-src="./images/buttons/reports_icon.png">
          &nbsp; View &amp; Share Reports
          <i class="icon pull-right ion-chevron-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.settings" class="white no-border bottom special-top-border">
          <img ng-src="./images/buttons/settings_icon.png">
          &nbsp; Alerts Settings
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <div class="item item-divider divider-background"></div>

        <ion-item menu-close ui-sref="app.about" class="no-border top special-border-lower">
          About
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.contact" class="special-border-lower">
          Contact &amp; Support
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.terms" class="special-border-lower">
          Terms of Use
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.privacy" class="no-border bottom special-border-lower">
          Privacy
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
