<ion-side-menus>

  <ion-pane ion-side-menu-content>

    <ion-nav-bar class="bar-royal nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="nav-title-slide-ios7"></ion-nav-view>

  </ion-pane>

  <ion-side-menu side="left" is-enabled="sideMenuEnabled" ng-init="reportMenu = false" drag-content="false">

    <ion-content class="sidemenu">
      <div class="top-bar"></div>
      <ion-list>
        <div class="header-bar bar-darkblue no-border top"></div>

        <ion-item ng-click="$parent.reportMenu = !$parent.reportMenu" class="white">
          <i class="icon ion-stats-bars"></i>
          &nbsp; View &amp; Share Reports
          <i class="icon pull-right override" ng-class="$parent.reportMenu ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>

          <ion-item class="item-accordion" ng-show="$parent.reportMenu" ui-sref="app.action_report" ng-click="$parent.reportMenu = false" menu-close>
            Action Reports
            <i class="icon ion-chevron-right pull-right"></i>
          </ion-item>

          <ion-item class="item-accordion" ng-show="$parent.reportMenu" ui-sref="app.cause_report" ng-click="$parent.reportMenu = false" menu-close>
            Cause Reports
            <i class="icon ion-chevron-right pull-right"></i>
          </ion-item>

          <ion-item class="item-accordion" ng-show="$parent.reportMenu" ui-sref="app.effect_report" ng-click="$parent.reportMenu = false" menu-close>
            Effect Reports
            <i class="icon ion-chevron-right pull-right"></i>
          </ion-item>

          <ion-item class="item-accordion" ng-show="$parent.reportMenu" ui-sref="app.pain_report" ng-click="$parent.reportMenu = false" menu-close>
            Pain Reports
            <i class="icon ion-chevron-right pull-right"></i>
          </ion-item>

        <ion-item menu-close ui-sref="app.settings" class="white">
          <i class="icon ion-gear-b"></i>
          &nbsp; Alerts Settings
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <div class="item item-divider"></div>
        <!-- <div class="item item-divider diagonal"></div> -->

        <ion-item menu-close ui-sref="app.about" class="no-border top">
          About
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.contact">
          Contact &amp; Support
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.terms">
          Terms of Use
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

        <ion-item menu-close ui-sref="app.privacy" class="no-border bottom">
          Privacy
          <i class="icon ion-chevron-right pull-right"></i>
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
