<div class="modal">

  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{ painRegion.content }}</h1>

    <button
      class="button button-clear button-primary"
      ng-click="discardTempSelections(painRegion.content.toLowerCase())">
        Cancel
    </button>

    <button
      class="button button-clear button-primary"
      ng-click="saveTempSelections(painRegion.content.toLowerCase())">
        Save
    </button>
  </ion-header-bar>

  <ion-content padding="true" class="has-header">
    <!-- renders SVG based on selection -->
    <section ng-include src="getBodymapPartial()"></section>
  </ion-content>

</div>
