<ion-view title="{{ choice }}" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear" ng-click="back()">
      Cancel
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear" ng-click="back()">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header checklist-detail">
    <p>How helpful was this in reducing your pain?</p>
      <div class="range" ng-class="{ 'range-positive': !sliderDisable, 'range-assertive': sliderDisable }">
        <input type="range"
          name="slider"
          min="0"
          max="100"
          ng-model="currentValue"
          ng-disabled="sliderDisable">
    </div>
    {{ currentValue | sliderFilter }}

    <section class="slider-disable">
      <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox"
          ng-model="sliderDisable">
       </label>
       Don't Know
     </li>
    </section>

  </ion-content>

</ion-view>
