<section class="checkbox-grid" ng-controller="ChecklistGridCtrl">

  <form name="currentForm" valid-form>
    <div class="row" ng-repeat="row in question.choices | inSlicesOf:2">
      <label class="checkbox col col-50" ng-repeat="choice in row">
        {{ choice.content }}
        <input
          type="checkbox"
          class="pull-right"
          ng-required="atLeastOneSelection(question.choices)"
          ng-model="choice.selected" />
      </label>

      <!-- textfield: {{ choice.textfield }} -->
    </div>
  </form>

  <hr>
  $valid:    {{ currentForm.$valid }} <br/>
  $invalid:  {{ currentForm.$invalid }} <br/>
  $dirty:    {{ currentForm.$dirty }} <br/>
  $pristine: {{ currentForm.$pristine }} <br/>
  <hr>

</section>
