<section class="checklist-grid" ng-controller="ChecklistGridCtrl">

  <!-- TODO: validate 'other' as $valid only if text inputted -->
  <form name="currentForm" valid-form>
    <div class="row grid-list">
      <div class="col" ng-repeat="choice in question.choices" ng-class="{'last': $last}">

        <label class="checkbox content">
          {{ choice.content }}
          <input
          type="checkbox"
          class="pull-right"
          ng-required="atLeastOneSelection(question.choices)"
          ng-model="choice.selected" />
        </label>

        <label ng-show="choice.textfield && choice.selected" class="item item-input">
          <textarea
          placeholder="Please specify"
          rows="5"
          ng-model="choice.value"></textarea>
        </label>

      </div>
    </div>
  </form>

</section>
