<section class="checklist-extra" ng-controller="ChecklistExtraCtrl">

  <!-- TODO: validate 'other' as $valid only if text inputted -->
  <form name="currentForm" valid-form>
    <ul>
      <div ng-repeat="choice in question.choices">

        <li class="item item-checkbox">
          <label class="checkbox" style="width: 100%;">
            <input type="checkbox"
              ng-click="goToSection()"
              ng-model="choice.selected"
              ng-required="atLeastOne()"
              ng-disabled="choice.disabled" />
          </label>
          {{ choice.content }}
          <span class="icon-right ion-chevron-right" style="float: right;"
            ng-hide="choice.content == 'None'"></span>
        </li>

      </div>
    </ul>
  </form>

</section>
