<section class="checkbox" ng-controller="ChecklistCtrl">

  <form name="currentForm" valid-boolean-form>
    <ul>
      <li class="item item-checkbox" ng-repeat="choice in question.choices">
          <label class="checkbox">
            <input type="checkbox" ng-required="selection.length === 0"
              ng-model="choice.selected"
              ng-change="toggleSelection(choice)"
              ng-disabled="disableAll && !$first">
          </label>
          {{ choice.content }}
      </li>
    </ul>
  </form>

</section>
