<section ng-controller="SliderCtrl">

  <form name="currentForm" valid-form>
    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="slider" min="0" max="100"
          ng-model="question.choices[0].value"
          ng-value="{{question.choices[0].value}}" required>
        <i class="icon ion-ios7-sunny"></i>
      </div>
      {{ question.choices[0].value | sliderFilter }}
    </div>
  </form>

  showNext: {{ showNext }}

</section>
